//BrNOC SCSS
////Compatibility mixins

//Mixin for grid-template-columns
@mixin gridTCol($arguments) {
  grid-template-columns: $arguments;
  -ms-grid-template-columns: $arguments;
}

//Mixin for grid-template-rows
@mixin gridTRow($arguments) {
  grid-template-rows: $arguments;
  -ms-grid-template-rows: $arguments;
}

//Mixin for grid-column
@mixin gridCol($arguments) {
  grid-column: $arguments;
  -ms-grid-column: $arguments;
}

//Mixin for grid-row
@mixin gridRow($arguments) {
  grid-row: $arguments;
  -ms-grid-row: $arguments;
}

//Mixin for grid-column-gap
@mixin gridColGap($arguments) {
  grid-column-gap: $arguments;
  -ms-grid-column-gap: $arguments;
}

//Mixin for grid-row-gap
@mixin gridRowGap($arguments) {
  grid-row-gap: $arguments;
  -ms-grid-row-gap: $arguments;
}

//Mixin for transform
@mixin transform($arguments) {
  transform: $arguments;
  -webkit-transform: $arguments;
  -moz-transform: $arguments;
}

//Backface-visibility

@mixin bf-vi($arguments) {
  backface-visibility: $arguments;
  -webkit-backface-visibility: $arguments;
  -moz-backface-visibility: $arguments;
}


// =============================================================================
// String Replace
// =============================================================================

@function str-replace($string, $search, $replace: "") {
	$index: str-index($string, $search);

	@if $index {
		@return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
	}

	@return $string;
}

// =============================================================================
// Font Face
// =============================================================================

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
	$src: null;

	$extmods: (
		eot: "?",
		svg: "#" + str-replace($name, " ", "_")
	);

	$formats: (
		otf: "opentype",
		ttf: "truetype"
	);

	@each $ext in $exts {
		$extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
		$format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
		$src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
	}

	@font-face {
		font-family: quote($name);
		font-style: $style;
		font-weight: $weight;
		src: $src;
	}
}

////Style link as default text
@import "colors";
.notA{
  border-bottom: none !important;

  &:hover {
    color: $textcolor;
  }
}
