////BrNOC SCSS

$footerGap: 4vh;
$footerHeight: calc(3em + #{10vh+3*$footerGap});

body>footer{
	min-height: $footerHeight;
	width: 100%;
	margin:0px auto;
	padding: $footerGap;
  background-color: $footercolor;
	box-shadow: 0px 2px 6px rgba(0,0,0,0.18);
  text-align: center;
  box-sizing: border-box;

  display: grid;
  @include gridTCol(repeat(6, 1fr));
  //@include gridTRow(minmax(3em, auto) 10vh);
	@include gridTRow(3em 10vh);
  @include gridRowGap($footerGap);

  font-size: 3vw;

  @media (min-width: 520px) {
      font-size: 1em;
  }

  div {
  	margin: 0 auto;
    display: block;
    text-align: left;

    &#credits {
      @include gridCol(1 / span 6);
    }

    div{
      margin: 5px;
    }

    &.footerImage {
      display: grid;
      @include gridTCol(100%);
      @include gridTRow(100%);

			padding: 0 1vw;

			a {
				display: contents;
			}

      img{
        max-height: 100%;
        max-width: 100%;

        justify-self: center;
        align-self: center;

        &.footerImageSvg {
          height: 15vh;
        }
      }
    }
  }

  @for $i from 1 through 3 {
    .footerImage.fI-#{$i} {
      @include gridCol(#{2*$i - 1} / span 2);
      @include gridRow(#{2} / #{3});
    }
  }

  #credits {
    padding: 0 20px;
    margin: auto;
    text-align: center;
  }
}
