input[type=text],input[type=email],input[type=password],input[type=file], input[type=number], textarea {
  transition-property: border;
  transition-duration: 0.3s;
  transition-timing-function: linear;

  border: 2px solid $textcolor;
  box-sizing: border-box;

  font-family: Roboto, sans-serif;
  font-size: 0.75em;

  &:focus {
      border-color: $inputColor;
      outline: none;
  }
}

input[type=text],input[type=email],input[type=password],input[type=file], input[type=number] {
  //width:200px;
  width: 100%;
  margin:5px;
  padding:5px;

  border-left: none;
  border-right: none;
  border-top: none;

  &, &.inputfile + label.custom-file-upload {
    background-color: $bgcolor;
    color: $textcolor;

    font-size: 0.8em;
  }
}

input[type=submit], .btn{
  padding:5px;
  border: 2px solid $textcolor;
  border-radius: 5px;
  background-color: rgba(0,0,0,0);
  color: $textcolor;
  min-width: 100px;
  margin:5px;
  cursor:pointer;

  &:hover{
    background-color: $buttonColour;
    border-color: $buttonColour;
    color: $bgcolor;
  }

  &:active, &:focus {
    background-color: $textcolor;
    border-color: $bgcolor;
    color: $bgcolor;
  }

  &:active {
    outline: none;
  }

  &:focus {
    outline-color: $textcolor;
  }
}

.btn {
  text-align: center;
}

input[type=number] {
  max-width: 3em;

  &.socks {
    display: inline;
  }

  &:invalid {
    border-bottom: 2px solid $cancel;
  }
}

label.radioContainer {
  display: block;
  position: relative;
  padding-left: 2.25em;
  margin-bottom: 0.75em;
  cursor: pointer;
  font-size: 1em;
  line-height: 1.2em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark {
    position: absolute;
    top: 0.1em;
    left: 0.1em;
    height: 1em;
    width: 1em;

    border-radius: 20%;

    background-color: rgba($themeColour, 0.4);
  }

  &:hover input ~ .checkmark {
    background-color: rgba($themeColour, 0.8);
  }

  & input:checked ~ .checkmark {
    background-color: $themeColour;
    //Záře okolo
    box-shadow: 0px 0px 10px 5px rgba($themeColour,0.8);
  }
}
