@import "hover-animations";

$marginHeaderTextMoving: 9.5em;

body>header {
  width:100%;

  @media (min-width: 700px) {
    width: 700px;
    padding-left: calc(50vw - 350px);
    padding-right: calc(50vw - 350px);
  }

  height: $headerHeightMin;
  text-align: center;
  background-color: $bgcolor;
  position: fixed;
  top:0;

  z-index: 100;

  background-color: $bgcolor;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: $headerHeightMin;

  &.logged {
    grid-template-columns: 2fr 2fr 1fr 1fr;
  }

  a {
    height: $headerHeightMin;
    box-sizing: border-box;

    color: $textcolor;
    text-decoration: none;
    text-transform: uppercase;
    padding: $headerHeight/3;
    margin:auto 20px;

    transition: color 0.2s;

    border-bottom: none;

    >span.headerIcon{
      font-size: $headerHeightMin/3;
      transition: font-size 0.2s;
    }

    &:hover {
      color: $textcolorHover;
      border-bottom: none;

      >span.headerIcon{
        font-size: $headerHeightMin/2.5;
      }
    }

    &.disabled {
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);

      &:hover, &:focus, &:active {
        color: $textcolor;
        cursor: not-allowed;

        >span.headerIcon{
          font-size: $headerHeightMin/3;
        }

        //Wobble
        -webkit-animation-name: hvr-wobble-horizontal;
        animation-name: hvr-wobble-horizontal;
        -webkit-animation-duration: 0.5s;
        animation-duration: 0.5s;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
      }
    }
  }
}

  #headerTextMoving {
    text-transform: uppercase;
    display: none;
  }

  #headerTextHidden {
    display: none;
  }

@media screen and (min-width: 37.5em) {
/*
  #headerTextContainer {
    display: grid;
    @include gridTCol(auto auto);
    @include gridTCol(minmax(1.2em auto));
  }*/

  #headerTextMoving {
    display: initial;
    margin-left: #{0 - $marginHeaderTextMoving};
    padding-right: $marginHeaderTextMoving;
    background-color: $bgcolor;
    transition: margin-left 0.5s, padding-right 0.5s;
    text-transform: uppercase;
  }

  #headerTextContainer #headerTextHide {
    display: none;
    font-family: Noto Sans, $defaultFont;
  }

  #headerTextContainer:hover {
    #headerTextHide {
      display: initial;
    }

    #headerTextMoving{
      visibility: visible;
      margin-left: 0em;
      padding-right: 0em;
      text-transform: none;

      &::after {
        content: "";

        font-family: Noto Sans, $defaultFont;
      }
    }
  }

  #headerTextHidden {
    display: initial;
  }

  #headerTextSmallShow {
    display: none;
  }

  /*#headerTextSmallShow::after, */#headerTextMoving::after {
    //content: "ᕍ\0304";
    content: " 6";
    //content: "c";
    //transform: rotateY(180deg);
    //display: inline-block;
    //color: $textcolor;
    //line-height: 1em;
    //font-size: 1.5em;
    transition: transform 0.5s;
    font-family: Noto Sans, $defaultFont;
  }
}


#homeMapContainer {
  #homeMap {
    display: none;
  }
}
