////BrNOC SCSS
#homeup {
  position: fixed;
  width: 3vh;
  height: 3vh;
  bottom: 3vh;
  right: 10vh;
  z-index: 10;

  font-size: 4vh;
  /*
  border: 5px solid white;
  border-radius: 5px;
  */
  a {
    text-decoration: none;
    border-bottom: none;
    color: $textcolor;
    //background-color: $bgcolorHover;

    height: 100%;
    width: 100%;
    display: grid;
    @include gridTCol(100%);
    @include gridTRow(100%);
    justify-items: center;
    align-items: center;

    transition: font-size 0.5s;

    &:hover {
      color: $textcolorHover;
      font-size: 140%;
    }
  }
}
