#legal {
  section>article>p {
    text-indent: 1em;
    margin-block-start: 0.25em;
    margin-block-end: 0;
    text-align: justify;
    /*font-family: Merriweather, serif;
    font-weight: lighter;
    font-size: 0.9em;*/
    /*font-family: Comic Sans MS;*/
  }
  section>article>p span {
    text-indent: 0;
  }
}