//BrNOC SCSS

$delkaAnimaceTiles: 0.3s;
$gapTiles: 2vw;

article.pus {
  $tileWidth: 50vw;

  display: grid;
  width: 100%;

  @include gridTCol(1fr);
  @include gridTRow($tileWidth);

  /*display: grid;
  @include gridTCol(100%);
  @include gridTRow(100%);*/
  justify-items: center;
  align-items: center;

  .tileContainer {
    //position: relative;
    //margin: 10px auto;
    width: $tileWidth;
    height: $tileWidth;
    z-index: 1;
    perspective: 1000;

    .tileCard {
      width: 100%;
      height: 100%;
      margin: 0 auto;

      transform-style: preserve-3d;
      transition: all $delkaAnimaceTiles linear;

      &>div {
        position: absolute;
        width: 100%;
        height: 100%;
        @include bf-vi(hidden);
      }
    }

    &:hover .tileCard {
      transform: rotateY(180deg);
    }

    .tileFront {
      display: grid;
      @include gridTCol(100%);
      @include gridTCol(100%);

      img {
        max-width: $tileWidth;
        max-height: $tileWidth;

        justify-self: center;
        align-self: center;
      }
    }

    .tileBack {
      display: grid;
      @include gridTCol(100%);
      @include gridTRow(auto auto auto);
      align-content: center;

      transform: rotateY(180deg);
      box-sizing: border-box;
      //padding: 10px;
      text-align: center;
      background-color: $bgcolor;

      .tileEmail {
        //font-size: 0.5em;
        max-width: $tileWidth;
      }
    }
  }

  @media (min-width: 400px) {
    $tileWidth: 25vw;
    @include gridTRow($tileWidth);
    @include gridTCol(1fr 1fr);

    .tileContainer {
      width: $tileWidth;
      height: $tileWidth;

      .tileFront img {
        max-width: $tileWidth;
        max-height: $tileWidth;
      }
    }
  }

  @media (min-width: 1000px) {
    $tileWidth: 20vw;
    @include gridTRow($tileWidth);
    @include gridTCol(repeat(4, 1fr));

    .tileContainer {
      width: $tileWidth;
      height: $tileWidth;

      .tileFront img {
        max-width: $tileWidth;
        max-height: $tileWidth;
      }
    }

    &.trigonium {
      @include gridTCol(repeat(3, 1fr));
    }
  }

  @media (min-width: $maxWidthMain) {
    $tileWidth: calc(#{$maxWidthMain/4} - (#{$paddingSidesMain/2} + #{$gapTiles}));
    @include gridTRow($tileWidth);
    @include gridTCol(repeat(4, 1fr));
    @include gridColGap($gapTiles);

    .tileContainer {
      width: $tileWidth;
      height: $tileWidth;

      .tileFront img {
        max-width: $tileWidth;
        max-height: $tileWidth;
      }
    }
  }
}
