$textcolor: white !default;
$bgcolor: black !default;
$textcolorHover: #ccc !default;
$bgcolorHover: #333 !default;
$footercolor: #1d1d1c !default;

//BrNOC theme colours
$themeColour: #fff !default;
$textcolorHover: mix($themeColour, $textcolor);

$red: #ff0266 !default;

//Barvy přednášek
$talkColor: $bgcolorHover !default;
$workshopColor: #192c44 !default;
$divadloColor: #400 !default;
$prestavkaColor: #ffffff !default;
$specialColor: #040 !default;
$mysteryColor: #2e0446 !default;
$filmColor: rgb(146, 54, 0) !default;

//Prezenčka
$age1Color: #4f006c !default;
$age2Color: #004487 !default;

$BrDEN: false;
@if $BrDEN == true {
$textcolor: black;
$bgcolor: white;
$textcolorHover: #333;
$bgcolorHover: #ccc;
$footercolor: #94948C;

//Barvy přednášek
$workshopColor: #7BB1F6;
$divadloColor: #FF9595;
$prestavkaColor: #ffffff;
$specialColor: #7FE07F;
$mysteryColor: #C5A8D6;
}

$aDecoration: 1px dashed $textcolor;
$linkcolor: $textcolor;
$buttonColour: mix($themeColour, $bgcolor, 80%) !default;
$buttonColour: $textcolorHover;

$cancel: desaturate($red, 55%);
$inputColor: $textcolorHover;
$inputColorHover: mix($inputColor, $textcolor);
