@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i");

body, html{
  margin:0px;
  padding:0px;
  background-color: black;
  color:white;
  font-family:Roboto;
}

html{
  height:100%;
  display:grid;
}

body{
  padding:2em;
  display:grid;
  grid-template-columns:1fr 1fr;
  grid-template-rows:auto 1fr 1fr;
  grid-gap:2em;
}

#time{
  grid-column:1/3;
  text-align:center;
  font-size:4em;
  padding:.5em 0em
}

.room{
  text-align:center;
  background-color:#222;
  border-radius:2em;
  padding:2em;
  font-size:1.2em;

  display:grid;
}

.roomTitle{
  font-size:2em;
}

.subtitle{
  text-transform: uppercase;
}

.talkTitle{
  font-size:1.5em;
}

.speaker{
  font-style: italic;
}


