.notA {
  border-bottom: none !important; }
  .notA:hover {
    color: white; }

footer div#credits {
  grid-column: 1/span 3;
  -ms-grid-column: 1/span 3;
  grid-row: 1/2;
  -ms-grid-row: 1/2; }
footer div#footerUser {
  grid-column: 4/span 3;
  -ms-grid-column: 4/span 3;
  grid-row: 1/2;
  -ms-grid-row: 1/2;
  align-self: center; }

/*# sourceMappingURL=logged.css.map */
