/////SCSS BrNOC

@import "commix";

footer {
  div#credits {
    @include gridCol(1 / span 3);
    @include gridRow(#{1}/#{2});
  }

  div#footerUser {
    @include gridCol(4 / span 3);
    @include gridRow(#{1}/#{2});

    align-self: center;
  }
}
