/*
##############
## BrNOC CSS ##
#############
*/
@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i");
@import url(temporary.css);
.notA {
  border-bottom: none !important; }
  .notA:hover {
    color: white; }

article.pus {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  -ms-grid-template-columns: 1fr;
  grid-template-rows: 50vw;
  -ms-grid-template-rows: 50vw;
  /*display: grid;
  @include gridTCol(100%);
  @include gridTRow(100%);*/
  justify-items: center;
  align-items: center; }
  article.pus .tileContainer {
    width: 50vw;
    height: 50vw;
    z-index: 1;
    perspective: 1000; }
    article.pus .tileContainer .tileCard {
      width: 100%;
      height: 100%;
      margin: 0 auto;
      transform-style: preserve-3d;
      transition: all 0.3s linear; }
      article.pus .tileContainer .tileCard > div {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden; }
    article.pus .tileContainer:hover .tileCard {
      transform: rotateY(180deg); }
    article.pus .tileContainer .tileFront {
      display: grid;
      grid-template-columns: 100%;
      -ms-grid-template-columns: 100%;
      grid-template-columns: 100%;
      -ms-grid-template-columns: 100%; }
      article.pus .tileContainer .tileFront img {
        max-width: 50vw;
        max-height: 50vw;
        justify-self: center;
        align-self: center; }
    article.pus .tileContainer .tileBack {
      display: grid;
      grid-template-columns: 100%;
      -ms-grid-template-columns: 100%;
      grid-template-rows: auto auto auto;
      -ms-grid-template-rows: auto auto auto;
      align-content: center;
      transform: rotateY(180deg);
      box-sizing: border-box;
      text-align: center;
      background-color: black; }
      article.pus .tileContainer .tileBack .tileEmail {
        max-width: 50vw; }
  @media (min-width: 400px) {
    article.pus {
      grid-template-rows: 25vw;
      -ms-grid-template-rows: 25vw;
      grid-template-columns: 1fr 1fr;
      -ms-grid-template-columns: 1fr 1fr; }
      article.pus .tileContainer {
        width: 25vw;
        height: 25vw; }
        article.pus .tileContainer .tileFront img {
          max-width: 25vw;
          max-height: 25vw; } }
  @media (min-width: 1000px) {
    article.pus {
      grid-template-rows: 20vw;
      -ms-grid-template-rows: 20vw;
      grid-template-columns: repeat(4, 1fr);
      -ms-grid-template-columns: repeat(4, 1fr); }
      article.pus .tileContainer {
        width: 20vw;
        height: 20vw; }
        article.pus .tileContainer .tileFront img {
          max-width: 20vw;
          max-height: 20vw; }
      article.pus.trigonium {
        grid-template-columns: repeat(3, 1fr);
        -ms-grid-template-columns: repeat(3, 1fr); } }
  @media (min-width: 1020px) {
    article.pus {
      grid-template-rows: calc(255px - (5vw + 2vw));
      -ms-grid-template-rows: calc(255px - (5vw + 2vw));
      grid-template-columns: repeat(4, 1fr);
      -ms-grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 2vw;
      -ms-grid-column-gap: 2vw; }
      article.pus .tileContainer {
        width: calc(255px - (5vw + 2vw));
        height: calc(255px - (5vw + 2vw)); }
        article.pus .tileContainer .tileFront img {
          max-width: calc(255px - (5vw + 2vw));
          max-height: calc(255px - (5vw + 2vw)); } }

body > footer {
  min-height: calc(3em + 22vh);
  width: 100%;
  margin: 0px auto;
  padding: 4vh;
  background-color: #1d1d1c;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.18);
  text-align: center;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  -ms-grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 3em 10vh;
  -ms-grid-template-rows: 3em 10vh;
  grid-row-gap: 4vh;
  -ms-grid-row-gap: 4vh;
  font-size: 3vw; }
  @media (min-width: 520px) {
    body > footer {
      font-size: 1em; } }
  body > footer div {
    margin: 0 auto;
    display: block;
    text-align: left; }
    body > footer div#credits {
      grid-column: 1/span 6;
      -ms-grid-column: 1/span 6; }
    body > footer div div {
      margin: 5px; }
    body > footer div.footerImage {
      display: grid;
      grid-template-columns: 100%;
      -ms-grid-template-columns: 100%;
      grid-template-rows: 100%;
      -ms-grid-template-rows: 100%;
      padding: 0 1vw; }
      body > footer div.footerImage a {
        display: contents; }
      body > footer div.footerImage img {
        max-height: 100%;
        max-width: 100%;
        justify-self: center;
        align-self: center; }
        body > footer div.footerImage img.footerImageSvg {
          height: 15vh; }
  body > footer .footerImage.fI-1 {
    grid-column: 1 / span 2;
    -ms-grid-column: 1 / span 2;
    grid-row: 2 / 3;
    -ms-grid-row: 2 / 3; }
  body > footer .footerImage.fI-2 {
    grid-column: 3 / span 2;
    -ms-grid-column: 3 / span 2;
    grid-row: 2 / 3;
    -ms-grid-row: 2 / 3; }
  body > footer .footerImage.fI-3 {
    grid-column: 5 / span 2;
    -ms-grid-column: 5 / span 2;
    grid-row: 2 / 3;
    -ms-grid-row: 2 / 3; }
  body > footer #credits {
    padding: 0 20px;
    margin: auto;
    text-align: center; }

#homeup {
  position: fixed;
  width: 3vh;
  height: 3vh;
  bottom: 3vh;
  right: 10vh;
  z-index: 10;
  font-size: 4vh;
  /*
  border: 5px solid white;
  border-radius: 5px;
  */ }
  #homeup a {
    text-decoration: none;
    border-bottom: none;
    color: white;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    -ms-grid-template-columns: 100%;
    grid-template-rows: 100%;
    -ms-grid-template-rows: 100%;
    justify-items: center;
    align-items: center;
    transition: font-size 0.5s; }
    #homeup a:hover {
      color: white;
      font-size: 140%; }

/* Wobble Horizontal */
@-webkit-keyframes hvr-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px); }
  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px); }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px); }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px); }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }
@keyframes hvr-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px); }
  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px); }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px); }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px); }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }
body > header {
  width: 100%;
  height: 10vh;
  text-align: center;
  background-color: black;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 10vh; }
  @media (min-width: 700px) {
    body > header {
      width: 700px;
      padding-left: calc(50vw - 350px);
      padding-right: calc(50vw - 350px); } }
  body > header.logged {
    grid-template-columns: 2fr 2fr 1fr 1fr; }
  body > header a {
    height: 10vh;
    box-sizing: border-box;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.3125em;
    margin: auto 20px;
    transition: color 0.2s;
    border-bottom: none; }
    body > header a > span.headerIcon {
      font-size: 3.3333333333vh;
      transition: font-size 0.2s; }
    body > header a:hover {
      color: white;
      border-bottom: none; }
      body > header a:hover > span.headerIcon {
        font-size: 4vh; }
    body > header a.disabled {
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0); }
      body > header a.disabled:hover, body > header a.disabled:focus, body > header a.disabled:active {
        color: white;
        cursor: not-allowed;
        -webkit-animation-name: hvr-wobble-horizontal;
        animation-name: hvr-wobble-horizontal;
        -webkit-animation-duration: 0.5s;
        animation-duration: 0.5s;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1; }
        body > header a.disabled:hover > span.headerIcon, body > header a.disabled:focus > span.headerIcon, body > header a.disabled:active > span.headerIcon {
          font-size: 3.3333333333vh; }

#headerTextMoving {
  text-transform: uppercase;
  display: none; }

#headerTextHidden {
  display: none; }

@media screen and (min-width: 37.5em) {
  /*
    #headerTextContainer {
      display: grid;
      @include gridTCol(auto auto);
      @include gridTCol(minmax(1.2em auto));
    }*/
  #headerTextMoving {
    display: initial;
    margin-left: -9.5em;
    padding-right: 9.5em;
    background-color: black;
    transition: margin-left 0.5s, padding-right 0.5s;
    text-transform: uppercase; }

  #headerTextContainer #headerTextHide {
    display: none;
    font-family: Noto Sans, Roboto, sans-serif; }

  #headerTextContainer:hover #headerTextHide {
    display: initial; }
  #headerTextContainer:hover #headerTextMoving {
    visibility: visible;
    margin-left: 0em;
    padding-right: 0em;
    text-transform: none; }
    #headerTextContainer:hover #headerTextMoving::after {
      content: "";
      font-family: Noto Sans, Roboto, sans-serif; }

  #headerTextHidden {
    display: initial; }

  #headerTextSmallShow {
    display: none; }

  /*#headerTextSmallShow::after, */
  #headerTextMoving::after {
    content: " 6";
    transition: transform 0.5s;
    font-family: Noto Sans, Roboto, sans-serif; } }
#homeMapContainer #homeMap {
  display: none; }

input[type=text], input[type=email], input[type=password], input[type=file], input[type=number], textarea {
  transition-property: border;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  border: 2px solid white;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  font-size: 0.75em; }
  input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, input[type=file]:focus, input[type=number]:focus, textarea:focus {
    border-color: white;
    outline: none; }

input[type=text], input[type=email], input[type=password], input[type=file], input[type=number] {
  width: 100%;
  margin: 5px;
  padding: 5px;
  border-left: none;
  border-right: none;
  border-top: none; }
  input[type=text], input[type=text].inputfile + label.custom-file-upload, input[type=email], input[type=email].inputfile + label.custom-file-upload, input[type=password], input[type=password].inputfile + label.custom-file-upload, input[type=file], input[type=file].inputfile + label.custom-file-upload, input[type=number], input[type=number].inputfile + label.custom-file-upload {
    background-color: black;
    color: white;
    font-size: 0.8em; }

input[type=submit], .btn {
  padding: 5px;
  border: 2px solid white;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  min-width: 100px;
  margin: 5px;
  cursor: pointer; }
  input[type=submit]:hover, .btn:hover {
    background-color: white;
    border-color: white;
    color: black; }
  input[type=submit]:active, input[type=submit]:focus, .btn:active, .btn:focus {
    background-color: white;
    border-color: black;
    color: black; }
  input[type=submit]:active, .btn:active {
    outline: none; }
  input[type=submit]:focus, .btn:focus {
    outline-color: white; }

.btn {
  text-align: center; }

input[type=number] {
  max-width: 3em; }
  input[type=number].socks {
    display: inline; }
  input[type=number]:invalid {
    border-bottom: 2px solid #b94875; }

label.radioContainer {
  display: block;
  position: relative;
  padding-left: 2.25em;
  margin-bottom: 0.75em;
  cursor: pointer;
  font-size: 1em;
  line-height: 1.2em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  label.radioContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0; }
  label.radioContainer .checkmark {
    position: absolute;
    top: 0.1em;
    left: 0.1em;
    height: 1em;
    width: 1em;
    border-radius: 20%;
    background-color: rgba(255, 255, 255, 0.4); }
  label.radioContainer:hover input ~ .checkmark {
    background-color: rgba(255, 255, 255, 0.8); }
  label.radioContainer input:checked ~ .checkmark {
    background-color: #fff;
    box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.8); }

#legal section > article > p {
  text-indent: 1em;
  margin-block-start: 0.25em;
  margin-block-end: 0;
  text-align: justify;
  /*font-family: Merriweather, serif;
  font-weight: lighter;
  font-size: 0.9em;*/
  /*font-family: Comic Sans MS;*/ }
#legal section > article > p span {
  text-indent: 0; }

button[data-balloon] {
  overflow: visible; }

[data-balloon] {
  position: relative;
  cursor: pointer; }
  [data-balloon]:after {
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.3s ease-out 0.3s;
    -moz-transition: all 0.3s ease-out 0.3s;
    -ms-transition: all 0.3s ease-out 0.3s;
    -o-transition: all 0.3s ease-out 0.3s;
    transition: all 0.3s ease-out 0.3s;
    font-family: Roboto, sans-serif !important;
    font-weight: normal !important;
    font-style: normal !important;
    text-shadow: none !important;
    background: #333;
    border-radius: 4px;
    color: #fff;
    content: attr(data-balloon);
    position: absolute;
    white-space: nowrap;
    z-index: 10;
    padding: 0.5em; }
  [data-balloon]:before {
    background: no-repeat url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http://www.w3.org/2000/svg%22%20width%3D%2236px%22%20height%3D%2212px%22%3E%3Cpath%20fill%3D%22#333%22%20transform%3D%22rotate(0)%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E");
    background-size: 100% auto;
    width: 18px;
    height: 6px;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.3s ease-out 0.3s;
    -moz-transition: all 0.3s ease-out 0.3s;
    -ms-transition: all 0.3s ease-out 0.3s;
    -o-transition: all 0.3s ease-out 0.3s;
    transition: all 0.3s ease-out 0.3s;
    content: '';
    position: absolute;
    z-index: 10; }
  [data-balloon]:hover:before, [data-balloon]:hover:after, [data-balloon][data-balloon-visible]:before, [data-balloon][data-balloon-visible]:after {
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    pointer-events: auto; }
  [data-balloon]:not([data-balloon-pos]):after {
    bottom: 100%;
    left: 50%;
    margin-bottom: 11px;
    -webkit-transform: translate(-50%, 10px);
    -moz-transform: translate(-50%, 10px);
    -ms-transform: translate(-50%, 10px);
    transform: translate(-50%, 10px);
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top; }
  [data-balloon]:not([data-balloon-pos]):before {
    bottom: 100%;
    left: 50%;
    margin-bottom: 5px;
    -webkit-transform: translate(-50%, 10px);
    -moz-transform: translate(-50%, 10px);
    -ms-transform: translate(-50%, 10px);
    transform: translate(-50%, 10px);
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top; }
  [data-balloon]:not([data-balloon-pos]):hover:after, [data-balloon]:not([data-balloon-pos])[data-balloon-visible]:after {
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0); }
  [data-balloon]:not([data-balloon-pos]):hover:before, [data-balloon]:not([data-balloon-pos])[data-balloon-visible]:before {
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0); }
  [data-balloon].font-awesome:after {
    font-family: FontAwesome; }
  [data-balloon][data-balloon-break]:after {
    white-space: pre; }
  [data-balloon][data-balloon-blunt]:before, [data-balloon][data-balloon-blunt]:after {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none; }
  [data-balloon][data-balloon-pos="up"]:after {
    bottom: 100%;
    left: 50%;
    margin-bottom: 11px;
    -webkit-transform: translate(-50%, 10px);
    -moz-transform: translate(-50%, 10px);
    -ms-transform: translate(-50%, 10px);
    transform: translate(-50%, 10px);
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top; }
  [data-balloon][data-balloon-pos="up"]:before {
    bottom: 100%;
    left: 50%;
    margin-bottom: 5px;
    -webkit-transform: translate(-50%, 10px);
    -moz-transform: translate(-50%, 10px);
    -ms-transform: translate(-50%, 10px);
    transform: translate(-50%, 10px);
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top; }
  [data-balloon][data-balloon-pos="up"]:hover:after, [data-balloon][data-balloon-pos="up"][data-balloon-visible]:after {
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0); }
  [data-balloon][data-balloon-pos="up"]:hover:before, [data-balloon][data-balloon-pos="up"][data-balloon-visible]:before {
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0); }
  [data-balloon][data-balloon-pos="up-left"]:after {
    bottom: 100%;
    left: 0;
    margin-bottom: 11px;
    -webkit-transform: translate(0, 10px);
    -moz-transform: translate(0, 10px);
    -ms-transform: translate(0, 10px);
    transform: translate(0, 10px);
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top; }
  [data-balloon][data-balloon-pos="up-left"]:before {
    bottom: 100%;
    left: 5px;
    margin-bottom: 5px;
    -webkit-transform: translate(0, 10px);
    -moz-transform: translate(0, 10px);
    -ms-transform: translate(0, 10px);
    transform: translate(0, 10px);
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top; }
  [data-balloon][data-balloon-pos="up-left"]:hover:after, [data-balloon][data-balloon-pos="up-left"][data-balloon-visible]:after {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); }
  [data-balloon][data-balloon-pos="up-left"]:hover:before, [data-balloon][data-balloon-pos="up-left"][data-balloon-visible]:before {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); }
  [data-balloon][data-balloon-pos="up-right"]:after {
    bottom: 100%;
    right: 0;
    margin-bottom: 11px;
    -webkit-transform: translate(0, 10px);
    -moz-transform: translate(0, 10px);
    -ms-transform: translate(0, 10px);
    transform: translate(0, 10px);
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top; }
  [data-balloon][data-balloon-pos="up-right"]:before {
    bottom: 100%;
    right: 5px;
    margin-bottom: 5px;
    -webkit-transform: translate(0, 10px);
    -moz-transform: translate(0, 10px);
    -ms-transform: translate(0, 10px);
    transform: translate(0, 10px);
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top; }
  [data-balloon][data-balloon-pos="up-right"]:hover:after, [data-balloon][data-balloon-pos="up-right"][data-balloon-visible]:after {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); }
  [data-balloon][data-balloon-pos="up-right"]:hover:before, [data-balloon][data-balloon-pos="up-right"][data-balloon-visible]:before {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); }
  [data-balloon][data-balloon-pos='down']:after {
    left: 50%;
    margin-top: 11px;
    top: 100%;
    -webkit-transform: translate(-50%, -10px);
    -moz-transform: translate(-50%, -10px);
    -ms-transform: translate(-50%, -10px);
    transform: translate(-50%, -10px); }
  [data-balloon][data-balloon-pos='down']:before {
    background: no-repeat url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http://www.w3.org/2000/svg%22%20width%3D%2236px%22%20height%3D%2212px%22%3E%3Cpath%20fill%3D%22#333%22%20transform%3D%22rotate(180 18 6)%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E");
    background-size: 100% auto;
    width: 18px;
    height: 6px;
    left: 50%;
    margin-top: 5px;
    top: 100%;
    -webkit-transform: translate(-50%, -10px);
    -moz-transform: translate(-50%, -10px);
    -ms-transform: translate(-50%, -10px);
    transform: translate(-50%, -10px); }
  [data-balloon][data-balloon-pos='down']:hover:after, [data-balloon][data-balloon-pos='down'][data-balloon-visible]:after {
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0); }
  [data-balloon][data-balloon-pos='down']:hover:before, [data-balloon][data-balloon-pos='down'][data-balloon-visible]:before {
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0); }
  [data-balloon][data-balloon-pos='down-left']:after {
    left: 0;
    margin-top: 11px;
    top: 100%;
    -webkit-transform: translate(0, -10px);
    -moz-transform: translate(0, -10px);
    -ms-transform: translate(0, -10px);
    transform: translate(0, -10px); }
  [data-balloon][data-balloon-pos='down-left']:before {
    background: no-repeat url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http://www.w3.org/2000/svg%22%20width%3D%2236px%22%20height%3D%2212px%22%3E%3Cpath%20fill%3D%22#333%22%20transform%3D%22rotate(180 18 6)%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E");
    background-size: 100% auto;
    width: 18px;
    height: 6px;
    left: 5px;
    margin-top: 5px;
    top: 100%;
    -webkit-transform: translate(0, -10px);
    -moz-transform: translate(0, -10px);
    -ms-transform: translate(0, -10px);
    transform: translate(0, -10px); }
  [data-balloon][data-balloon-pos='down-left']:hover:after, [data-balloon][data-balloon-pos='down-left'][data-balloon-visible]:after {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); }
  [data-balloon][data-balloon-pos='down-left']:hover:before, [data-balloon][data-balloon-pos='down-left'][data-balloon-visible]:before {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); }
  [data-balloon][data-balloon-pos='down-right']:after {
    right: 0;
    margin-top: 11px;
    top: 100%;
    -webkit-transform: translate(0, -10px);
    -moz-transform: translate(0, -10px);
    -ms-transform: translate(0, -10px);
    transform: translate(0, -10px); }
  [data-balloon][data-balloon-pos='down-right']:before {
    background: no-repeat url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http://www.w3.org/2000/svg%22%20width%3D%2236px%22%20height%3D%2212px%22%3E%3Cpath%20fill%3D%22#333%22%20transform%3D%22rotate(180 18 6)%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E");
    background-size: 100% auto;
    width: 18px;
    height: 6px;
    right: 5px;
    margin-top: 5px;
    top: 100%;
    -webkit-transform: translate(0, -10px);
    -moz-transform: translate(0, -10px);
    -ms-transform: translate(0, -10px);
    transform: translate(0, -10px); }
  [data-balloon][data-balloon-pos='down-right']:hover:after, [data-balloon][data-balloon-pos='down-right'][data-balloon-visible]:after {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); }
  [data-balloon][data-balloon-pos='down-right']:hover:before, [data-balloon][data-balloon-pos='down-right'][data-balloon-visible]:before {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); }
  [data-balloon][data-balloon-pos='left']:after {
    margin-right: 11px;
    right: 100%;
    top: 50%;
    -webkit-transform: translate(10px, -50%);
    -moz-transform: translate(10px, -50%);
    -ms-transform: translate(10px, -50%);
    transform: translate(10px, -50%); }
  [data-balloon][data-balloon-pos='left']:before {
    background: no-repeat url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http://www.w3.org/2000/svg%22%20width%3D%2212px%22%20height%3D%2236px%22%3E%3Cpath%20fill%3D%22#333%22%20transform%3D%22rotate(-90 18 18)%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E");
    background-size: 100% auto;
    width: 6px;
    height: 18px;
    margin-right: 5px;
    right: 100%;
    top: 50%;
    -webkit-transform: translate(10px, -50%);
    -moz-transform: translate(10px, -50%);
    -ms-transform: translate(10px, -50%);
    transform: translate(10px, -50%); }
  [data-balloon][data-balloon-pos='left']:hover:after, [data-balloon][data-balloon-pos='left'][data-balloon-visible]:after {
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%); }
  [data-balloon][data-balloon-pos='left']:hover:before, [data-balloon][data-balloon-pos='left'][data-balloon-visible]:before {
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%); }
  [data-balloon][data-balloon-pos='right']:after {
    left: 100%;
    margin-left: 11px;
    top: 50%;
    -webkit-transform: translate(-10px, -50%);
    -moz-transform: translate(-10px, -50%);
    -ms-transform: translate(-10px, -50%);
    transform: translate(-10px, -50%); }
  [data-balloon][data-balloon-pos='right']:before {
    background: no-repeat url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http://www.w3.org/2000/svg%22%20width%3D%2212px%22%20height%3D%2236px%22%3E%3Cpath%20fill%3D%22#333%22%20transform%3D%22rotate(90 6 6)%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E");
    background-size: 100% auto;
    width: 6px;
    height: 18px;
    left: 100%;
    margin-left: 5px;
    top: 50%;
    -webkit-transform: translate(-10px, -50%);
    -moz-transform: translate(-10px, -50%);
    -ms-transform: translate(-10px, -50%);
    transform: translate(-10px, -50%); }
  [data-balloon][data-balloon-pos='right']:hover:after, [data-balloon][data-balloon-pos='right'][data-balloon-visible]:after {
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%); }
  [data-balloon][data-balloon-pos='right']:hover:before, [data-balloon][data-balloon-pos='right'][data-balloon-visible]:before {
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%); }
  [data-balloon][data-balloon-length='small']:after {
    white-space: normal;
    width: 80px; }
  [data-balloon][data-balloon-length='medium']:after {
    white-space: normal;
    width: 150px; }
  [data-balloon][data-balloon-length='large']:after {
    white-space: normal;
    width: 260px; }
  [data-balloon][data-balloon-length='xlarge']:after {
    white-space: normal;
    width: 380px; }
    @media screen and (max-width: 768px) {
      [data-balloon][data-balloon-length='xlarge']:after {
        white-space: normal;
        width: 90vw; } }
  [data-balloon][data-balloon-length='fit']:after {
    white-space: normal;
    width: 100%; }

html {
  height: 100%; }

body, html {
  color: white;
  font-family: Roboto, sans-serif;
  margin: 0px;
  padding: 0px;
  width: 100%;
  overflow-x: hidden; }

body {
  display: grid;
  grid-template-columns: 100%;
  -ms-grid-template-columns: 100%;
  grid-template-rows: minmax(calc(100vh - calc(3em + 22vh)), auto) calc(3em + 22vh);
  -ms-grid-template-rows: minmax(calc(100vh - calc(3em + 22vh)), auto) calc(3em + 22vh);
  background-color: black;
  overflow: hidden; }
  body a {
    color: white;
    text-decoration: none;
    border-bottom: 1px dashed white; }
    body a:hover {
      color: white;
      text-decoration: none;
      border-bottom: 1px dashed white; }
  body > main {
    width: 100%;
    max-width: 1020px;
    margin: 10vh auto 10vh;
    height: auto; }
    @media (min-width: 600px) {
      body > main {
        box-sizing: border-box;
        padding: 0 10vw 5vh; } }
    body > main > h1 {
      min-height: 1.2em;
      margin: 0.64em 0; }

h1 > span, main > section {
  padding: 0.5em;
  background-color: black;
  background-color: none;
  border-radius: 1em; }

.homeimg + section {
  margin-top: 52.5vw; }
  @media (min-width: 114.2857142857vh) {
    .homeimg + section {
      margin-top: 65vh; } }

div.homeimg {
  width: 100vw;
  position: absolute;
  left: 0;
  display: grid; }
  div.homeimg img {
    justify-self: center;
    max-width: 100vw; }
    @media (min-width: 114.2857142857vh) {
      div.homeimg img {
        height: 60vh; } }

section#homenavINFO > section {
  display: grid;
  grid-template-columns: 30% 70%;
  -ms-grid-template-columns: 30% 70%;
  margin-bottom: 5vh;
  min-height: 20vh; }
  section#homenavINFO > section:hover > span:first-child {
    color: white; }

@media (max-width: 600px) {
  section.homeContainer > section {
    margin-right: 3vw; } }
section.homeContainer > section:first-child {
  margin-top: 5vh; }
section.homeContainer > section span {
  align-self: center; }
section.homeContainer > section > span.fas, section.homeContainer > section > span.far, section.homeContainer > section > span.fab {
  text-align: center;
  justify-self: center;
  font-size: 2.5em; }
section.homeContainer > section > span.contacts {
  display: grid;
  grid-template-columns: 2em auto;
  -ms-grid-template-columns: 2em auto;
  grid-template-rows: auto auto auto;
  -ms-grid-template-rows: auto auto auto; }
  section.homeContainer > section > span.contacts .fas, section.homeContainer > section > span.contacts .far, section.homeContainer > section > span.contacts .fab {
    justify-self: center; }
section.homeContainer > section > span#deadlines {
  display: grid;
  grid-template-columns: 30% 1fr;
  -ms-grid-template-columns: 30% 1fr;
  grid-row-gap: 1.5em;
  -ms-grid-row-gap: 1.5em;
  grid-column-gap: 1em;
  -ms-grid-column-gap: 1em;
  align-items: start; }
  section.homeContainer > section > span#deadlines span {
    align-self: start; }
section.homeContainer > h1 {
  width: 100%; }
section.homeContainer > h2 {
  width: 100%; }
section.homeContainer > h3 {
  width: 100%; }
section.homeContainer > h4 {
  width: 100%; }
section.homeContainer > h5 {
  width: 100%; }
section.homeContainer > h6 {
  width: 100%; }
section.homeContainer > h1 {
  font-size: 1.8em; }
  @media (max-width: 600px) {
    section.homeContainer > h1 {
      margin-left: 3vw;
      margin-right: 3vw; } }
section.homeContainer > h2 {
  font-size: 1.4em; }
@media (min-width: 600px) {
  section.homeContainer:nth-of-type(odd) > h1 {
    text-align: left; }
  section.homeContainer:nth-of-type(odd) > h2 {
    text-align: left; }
  section.homeContainer:nth-of-type(odd) > h3 {
    text-align: left; }
  section.homeContainer:nth-of-type(odd) > h4 {
    text-align: left; }
  section.homeContainer:nth-of-type(odd) > h5 {
    text-align: left; }
  section.homeContainer:nth-of-type(odd) > h6 {
    text-align: left; }
  section.homeContainer:nth-of-type(even) > h1 {
    text-align: right; }
  section.homeContainer:nth-of-type(even) > h2 {
    text-align: right; }
  section.homeContainer:nth-of-type(even) > h3 {
    text-align: right; }
  section.homeContainer:nth-of-type(even) > h4 {
    text-align: right; }
  section.homeContainer:nth-of-type(even) > h5 {
    text-align: right; }
  section.homeContainer:nth-of-type(even) > h6 {
    text-align: right; } }

/*Scrollbar*/
::-webkit-scrollbar {
  width: 10px; }

::-webkit-scrollbar-track {
  background-color: black;
  border-radius: 5px; }

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 5px; }

::-webkit-scrollbar-thumb:hover {
  background-color: white; }

#mura1, #mura2, #mura3, #mura4 {
  position: absolute;
  width: 10vw;
  z-index: -100;
  top: 50%;
  left: 50%;
  display: none; }

a.footnote, a.footnote:hover {
  border-bottom: none; }

.socksTable {
  width: 100%; }
  .socksTable input[type=number] {
    width: 100%;
    max-width: initial; }

.socksContainer {
  display: grid;
  grid-template-columns: 1fr;
  -ms-grid-template-columns: 1fr;
  justify-items: center;
  grid-row-gap: 20px;
  -ms-grid-row-gap: 20px;
  margin-bottom: 20px; }
  .socksContainer img {
    width: 100%;
    max-width: 500px; }
  @media (min-width: 800px) {
    .socksContainer {
      grid-template-columns: 1fr 1fr;
      -ms-grid-template-columns: 1fr 1fr;
      grid-column-gap: 20px;
      -ms-grid-column-gap: 20px; }
      .socksContainer img {
        max-width: 400px; } }

.akce {
  position: relative;
  cursor: pointer; }
  .akce img {
    width: 100%;
    padding-bottom: 2.5em; }
  .akce .akceName {
    width: 100%;
    position: absolute;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    font-size: 1.5em;
    padding: 0.5em 0px;
    line-height: 1.5em;
    box-sizing: border-box;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    overflow: hidden; }
    .akce .akceName:before {
      content: "";
      position: absolute;
      z-index: -1;
      left: 51%;
      right: 51%;
      bottom: 0;
      background: white;
      height: 4px;
      -webkit-transition-property: left, right;
      transition-property: left, right;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-timing-function: ease-out;
      transition-timing-function: ease-out; }
  .akce:hover .akceName, .akce:focus .akceName, .akce:active .akceName {
    color: white; }
    .akce:hover .akceName:before, .akce:focus .akceName:before, .akce:active .akceName:before {
      left: 0;
      right: 0; }

#sprizneneAkce {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  -ms-grid-template-columns: 1fr 1fr;
  grid-column-gap: 10%;
  -ms-grid-column-gap: 10%; }
  #sprizneneAkce .akce {
    margin: 10px; }

/*# sourceMappingURL=main.css.map */
