//BrNOC SCSS

/*
##############
## BrNOC CSS ##
#############
*/

$headerFont: 1.3125em;
$maxWidthMain: 1020px;
$paddingSidesMain: 10vw;
$headerHeight: $headerFont*3;
$headerHeightMin: 10vh;
$h1Height: 1.2em;
$homeimgHeight: 60vh;
$homeContainerMargin: 3vw;
$homeContainerMinWidth: 600px;
$maxHeaderWidth: 700px;
$gapMainFooter: 10vh;

$defaultFont: Roboto, sans-serif;

$placeholderColored: false;

////Lazy mixins
//Mixin for headings
@mixin headings($from: 1, $to: 6){
    @for $i from $from through $to{
      h#{$i}{
        @content
      }
    }
}

//Imports
@import "commix";
@import "colors";
@import "tiles";
@import "footer";
@import "homeup";
@import "header";
@import "forms";
@import "legal";

//Balloon
@import "balloon";

//FontAwesome
//@import "FontAwesome/fontawesome.scss";
//@import "FontAwesome/solid.scss";
//@import "FontAwesome/brands.scss";
//@import "FontAwesome/regular.scss";

//Roboto
//@include font-face("Roboto", "../fonts/Roboto/Roboto-Regular", null, null, ttf);
//@include font-face("Roboto", "../fonts/Roboto/Roboto-Bold", null, bold, ttf);
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i');

html {
  height: 100%;
}

body, html{
  color: $textcolor;
  font-family: $defaultFont;
  margin:0px;
  padding:0px;
  width: 100%;
  overflow-x: hidden;
}

body {
  display: grid;
  @include gridTCol(100%);
  @include gridTRow(minmax(calc(100vh - #{$footerHeight}), auto) $footerHeight);

  background-color: $bgcolor;

  overflow: hidden;

  a {
    color: $textcolor;
    text-decoration: none;
    border-bottom: $aDecoration;

    &:hover {
      color: $textcolorHover;
      text-decoration: none;
      border-bottom: 1px dashed $textcolorHover;
    }
  }

  >main {
    width: 100%;
  	max-width: $maxWidthMain;
  	margin: $headerHeightMin auto $gapMainFooter;
  	height: auto;

    @media (min-width: $homeContainerMinWidth) {
      box-sizing: border-box;
      padding: 0 $paddingSidesMain 5vh;
    }

    >h1 {
      min-height: $h1Height;
      margin: #{$h1Height*8/15} 0;
    }
  }
}

h1>span, main>section {
  padding: 0.5em;
  background-color: rgba($bgcolor,1);
  background-color: none;
  border-radius: 1em;
}

 .homeimg+section {
  margin-top: 52.5vw;
  @media (min-width: #{1200/630*$homeimgHeight}) {
    margin-top: 5vh+$homeimgHeight;
  }
}

div.homeimg{
  width: 100vw;
  position: absolute;
  left: 0;

  display: grid;

  @if $placeholderColored {background-color: #0b0b0b;}

  img {
    justify-self: center;
    max-width: 100vw;

    @media (min-width: #{1200/630*$homeimgHeight}) {
      height: $homeimgHeight;
    }

    @if $placeholderColored {opacity: 0.2;}
  }
}

section#homenavINFO>section {
  display: grid;
  @include gridTCol(30% 70%);
  margin-bottom: 5vh;
  min-height: 20vh;

  &:hover>span:first-child {
    color: $textcolorHover;
  }
}

section.homeContainer {
  &> {
    section {

      @media (max-width: $homeContainerMinWidth) {
        margin-right: $homeContainerMargin;
      }

      &:first-child {
        margin-top: 5vh;
      }

      span {
        align-self: center;
      }
    }

    section>span {
      &.fas, &.far, &.fab {
        text-align: center;
        justify-self: center;
        font-size: 2.5em;
      }

      &.contacts {
        display: grid;
        @include gridTCol(2em auto);
        @include gridTRow(auto auto auto);

        .fas, .far, .fab {
          justify-self: center;
        }
      }

      &#deadlines {
        display: grid;
        @include gridTCol(30% 1fr);
        @include gridRowGap(1.5em);
        @include gridColGap(1em);
        align-items: start;

        span {
          align-self: start;
        }

      }
    }

    @include headings() {
      width: 100%;
    }

      h1 {
        font-size: 1.8em;

        @media (max-width: $homeContainerMinWidth) {
          margin-left: $homeContainerMargin;
          margin-right: $homeContainerMargin;
        }
      }

      h2 {
        font-size: 1.4em;
      }
  }

  @media (min-width: $homeContainerMinWidth) {
    &:nth-of-type(odd)> {
      @include headings() {
        text-align: left;
      }
    }

    &:nth-of-type(even)> {
      @include headings() {
        text-align: right;
      }
    }
  }
}
/*Scrollbar*/

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: $bgcolor;
  border-radius: 5px;
}

::-webkit-scrollbar-track:hover {
}

::-webkit-scrollbar-thumb {
  background-color: $textcolor;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $textcolorHover;
}

#mura1, #mura2, #mura3, #mura4 {
  position: absolute;
  width: 10vw;
  z-index: -100;

  top:50%;
  left:50%;

  display: none;
}

a.footnote, a.footnote:hover {
  border-bottom: none;
}

.socksTable {
  width: 100%;

  input[type=number] {
    width: 100%;
    max-width: initial;
  }
}

.socksContainer {
  display: grid;
  @include gridTCol(1fr);
  justify-items: center;
  @include gridRowGap(20px);

  margin-bottom: 20px;

  img{
    width: 100%;
    max-width: 500px;
  }

  @media (min-width: 800px) {
    @include gridTCol(1fr 1fr);
    @include gridColGap(20px);

    img{
      max-width: 400px;
    }
  }
}

//Minulé a spřízněné akce
.akce{
  position: relative;
  cursor: pointer;

  img {
    width: 100%;
    padding-bottom: 2.5em;
  }

  .akceName {
    width: 100%;
    position: absolute;
    bottom: 0px;
    background-color: rgba($bgcolor, 0.8);
    text-align: center;
    font-size: 1.5em;
    padding: 0.5em 0px;
    line-height: 1.5em;

    box-sizing: border-box;
    //border-bottom: 5px solid rgba(0,0,0,1);

    //Podtržení
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    overflow: hidden;

    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      left: 51%;
      right: 51%;
      bottom: 0;
      background: $textcolorHover;
      height: 4px;
      -webkit-transition-property: left, right;
      transition-property: left, right;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-timing-function: ease-out;
      transition-timing-function: ease-out;
    }
  }

  &:hover, &:focus, &:active {
    .akceName {
      color: $textcolorHover;

      &:before {
        left: 0;
        right: 0;
      }
    }
  }
}


#sprizneneAkce{
  width:100%;
  display:grid;
  @include gridTCol(1fr 1fr);
  @include gridColGap(10%);

  .akce{
    margin:10px;
  }
}
@import "temporary.css";
