.newTopicButton{
    background-color:white;
    color:black;
    padding:10px;
    text-align:center;
    border-radius:15px;
    font-weight:bold;
    cursor:pointer;
}

.newTopicButton:hover{
    background-color:#DDD;
    
}

.taskWrapper{
    font-size:1.2em;
    text-align:center;
    padding:50px 20px;
}

#topic{
    font-weight:bold;
}

#taskSection{
    margin-top:10vh;
}