@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i");
.wrapper {
 display:grid;
 grid-template-columns:8.8cm 8.8cm;
 grid-auto-rows:5.8cm
}
.tag{
  border: 1px solid black;
}
.name{
  padding:0.5cm 0.5cm;
  font-weight: bold;
  font-size: 1.5em;
  font-family: Roboto;
}

@media print
{
    .tag{
        page-break-inside: avoid;
    }
}
