.label {
  background-color: white;
  color: black;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  margin: 4px 2px;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none; }

.label.active {
  color: white;
  background-color: #80de8e; }

/*# sourceMappingURL=newtalk.css.map */
