#profilePictureSection img{
  height: 128px;
  width: 128px;
}


td{
  padding: 0px 5px;
  min-width: 150px;
}

.label{
  width:150px;
}

#qr{
 background-color:white;
 padding: 0.5em;
 display:inline-block;
}

#qr img{
  width:10em
}
