@import "commix";
@import "colors";

 .talkWrapper{
  margin: 20px 0px;
  display:grid;
  grid-template-columns: 50% 50%;
  border-radius:15px;
  cursor: pointer;

}

 .talkLong{
  transition: 0.5s;
  padding:0px;
  grid-column:1/3;
  background-color: #1a1a1a;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  max-height: 0px;
  overflow:hidden;
}

 .talkHead{
  background-color: #333;
  padding:15px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display:inline-block;

}

 .talkShort{
  background-color:#1a1a1a;
  padding:15px;
  background-color: #1a1a1a;
  display:inline-block;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

 .talkSpeaker{
  margin-left:5px;
  font-style:italic;
}

 .talkTitle{
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 3px;
}

 .talkLong div{
  margin:15px;
}

 .active .talkShort{
  display:none;
}

 .active .talkHead{
  grid-column: 1/3;
}

 .active .talkLong{
  display:block;
  max-height:1500px;
}

 .active .talkHead{
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0px;
}


.vote{
  grid-column: 1/3;
  text-align: center;
  background-color:#222;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  cursor:default;

  display: grid;
  @include gridTCol(repeat(7, 1fr));
  @media (max-width: 24em) {
    padding-top: 0.5em;
    @include gridTCol(repeat(5, 1fr));

    span {
      max-width: 10vw;
      max-height: 10vw;
    }

    :nth-child(6n+1) {
      grid-row: 2/3;
    }

    :nth-child(1) {
      grid-column: 1/2;
    }

    :nth-child(7) {
      grid-column: 5/6;
    }
  }

  width: 100%;
  @media (min-width: 33em) {
    width: 60%;
    padding: 0 20%;
  }

  justify-items: center;
  align-items: center;
}

.vote span{
  line-height: 1.6em;
  margin: 0.5em;

  &.cir {
    display: inline-block;
    height: 1.6em;
    width: 1.6em;

    //border-radius: 20%;
    border-radius: 50%;

    background-color: #eee;
    background-color: $inputColor;
    opacity: 0.4;

    cursor:pointer;

    &.bold {
      opacity: 1;
      -webkit-box-shadow: 0px 0px 1.5em 2px rgba(white,0.75);
      -moz-box-shadow: 0px 0px 1.5em 2px rgba(white,0.75);
      box-shadow: 0px 0px 1.5em 2px rgba(white,0.75);
    }
  }
}

.vote .icon{
  font-size:1.5em;
}

.vote .open{
  height: 2em;
}

.vote .closed{
  height: 1em;
}

#voteSection .talkLong{
  border-radius: 0px;
}

#voteSection .talkShort{
  border-bottom-right-radius: 0px;
}

#voteSection .talkHead{
  border-bottom-left-radius: 0px;
}

.bold{
 font-weight: bold !important;
}

.T {
  .talkHead {
    background-color: $talkColor;
  }

  .legend & .fas {
    color: $talkColor;
  }

  & .talkLong, & .talkShort {
    background-color: darken($talkColor, 5);
  }

  .vote{
    background-color: darken($talkColor, 7);
  }
}

.W {
  .talkHead {
    background-color: $workshopColor;
  }

  .legend & .fas {
    color: $workshopColor;
  }

  & .talkLong, & .talkShort {
    background-color: darken($workshopColor, 5);
  }

  .vote{
    background-color: darken($workshopColor, 7);
  }
}

.D {
  .talkHead {
    background-color: $divadloColor;
  }

  .legend & .fas {
    color: $divadloColor;
  }

  & .talkLong, & .talkShort {
    background-color: darken($divadloColor, 5);
  }

  .vote{
    background-color: darken($divadloColor, 7);
  }
}

.S {
  .talkHead {
    background-color: $specialColor;
  }

  .legend & .fas {
    color: $specialColor;
  }

  & .talkLong, & .talkShort {
    background-color: darken($specialColor, 5);
  }

  .vote{
    background-color: darken($specialColor, 7);
  }
}

.M {
  .talkHead {
    background-color: $mysteryColor;
  }

  .legend & .fas {
    color: $mysteryColor;
  }

  & .talkLong, & .talkShort {
    background-color: darken($mysteryColor, 5);
  }

  .vote{
    background-color: darken($mysteryColor, 7);
  }
}

.F {
  .talkHead {
    background-color: $filmColor;
  }

  .legend & .fas {
    color: $filmColor;
  }

  & .talkLong, & .talkShort {
    background-color: darken($filmColor, 5);
  }

  .vote{
    background-color: darken($filmColor, 7);
  }
}