.notA {
  border-bottom: none !important; }
  .notA:hover {
    color: white; }

.talkWrapper {
  margin: 20px 0px;
  display: grid;
  grid-template-columns: 50% 50%;
  border-radius: 15px;
  cursor: pointer; }

.talkLong {
  transition: 0.5s;
  padding: 0px;
  grid-column: 1/3;
  background-color: #1a1a1a;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  max-height: 0px;
  overflow: hidden; }

.talkHead {
  background-color: #333;
  padding: 15px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: inline-block; }

.talkShort {
  background-color: #1a1a1a;
  padding: 15px;
  background-color: #1a1a1a;
  display: inline-block;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px; }

.talkSpeaker {
  margin-left: 5px;
  font-style: italic; }

.talkTitle {
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 3px; }

.talkLong div {
  margin: 15px; }

.active .talkShort {
  display: none; }

.active .talkHead {
  grid-column: 1/3; }

.active .talkLong {
  display: block;
  max-height: 1500px; }

.active .talkHead {
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0px; }

.vote {
  grid-column: 1/3;
  text-align: center;
  background-color: #222;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  cursor: default;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  -ms-grid-template-columns: repeat(7, 1fr);
  width: 100%;
  justify-items: center;
  align-items: center; }
  @media (max-width: 24em) {
    .vote {
      padding-top: 0.5em;
      grid-template-columns: repeat(5, 1fr);
      -ms-grid-template-columns: repeat(5, 1fr); }
      .vote span {
        max-width: 10vw;
        max-height: 10vw; }
      .vote :nth-child(6n+1) {
        grid-row: 2/3; }
      .vote :nth-child(1) {
        grid-column: 1/2; }
      .vote :nth-child(7) {
        grid-column: 5/6; } }
  @media (min-width: 33em) {
    .vote {
      width: 60%;
      padding: 0 20%; } }

.vote span {
  line-height: 1.6em;
  margin: 0.5em; }
  .vote span.cir {
    display: inline-block;
    height: 1.6em;
    width: 1.6em;
    border-radius: 50%;
    background-color: #eee;
    background-color: white;
    opacity: 0.4;
    cursor: pointer; }
    .vote span.cir.bold {
      opacity: 1;
      -webkit-box-shadow: 0px 0px 1.5em 2px rgba(255, 255, 255, 0.75);
      -moz-box-shadow: 0px 0px 1.5em 2px rgba(255, 255, 255, 0.75);
      box-shadow: 0px 0px 1.5em 2px rgba(255, 255, 255, 0.75); }

.vote .icon {
  font-size: 1.5em; }

.vote .open {
  height: 2em; }

.vote .closed {
  height: 1em; }

#voteSection .talkLong {
  border-radius: 0px; }

#voteSection .talkShort {
  border-bottom-right-radius: 0px; }

#voteSection .talkHead {
  border-bottom-left-radius: 0px; }

.bold {
  font-weight: bold !important; }

.T .talkHead {
  background-color: #333; }
.legend .T .fas {
  color: #333; }
.T .talkLong, .T .talkShort {
  background-color: #262626; }
.T .vote {
  background-color: #212121; }

.W .talkHead {
  background-color: #192c44; }
.legend .W .fas {
  color: #192c44; }
.W .talkLong, .W .talkShort {
  background-color: #122031; }
.W .vote {
  background-color: #0f1b2a; }

.D .talkHead {
  background-color: #400; }
.legend .D .fas {
  color: #400; }
.D .talkLong, .D .talkShort {
  background-color: #2b0000; }
.D .vote {
  background-color: #200000; }

.S .talkHead {
  background-color: #040; }
.legend .S .fas {
  color: #040; }
.S .talkLong, .S .talkShort {
  background-color: #002b00; }
.S .vote {
  background-color: #002000; }

.M .talkHead {
  background-color: #2e0446; }
.legend .M .fas {
  color: #2e0446; }
.M .talkLong, .M .talkShort {
  background-color: #1e032e; }
.M .vote {
  background-color: #180224; }

.F .talkHead {
  background-color: #923600; }
.legend .F .fas {
  color: #923600; }
.F .talkLong, .F .talkShort {
  background-color: #792d00; }
.F .vote {
  background-color: #6e2900; }

/*# sourceMappingURL=program.css.map */
