@import "colors";
@import "commix";

#formSection {
  display: grid;
  justify-content: center;
  @include gridRowGap(20px);

  fieldset {
    @media (min-width: 500px) {
      max-width: 400px;
    }

    margin-bottom: 5vh;
    border: none;
    border-radius: 5px;
    padding-right: 1em;
    padding-top: 10px;

    &.itemsMargins {
      &>* {
        display: block;
        margin-bottom: 20px;
        &:last-child {
          margin-bottom: initial;
        }
      }
      &>legend {
        margin-bottom: 0;
      }
    }

    >legend {
      //border-bottom: $aDecoration;
      font-size: 1.2em;
    }

    >input {
      margin-left: 0;
    }

    &.last-child {
      margin-bottom: initial;
    }
  }

  textarea {
    background-color: $bgcolor;
    border-width: 1.5px;
    border-radius: 1px;
    padding: 5px 10px;
    color: $textcolor;
    resize: none;
  }
}

main h1 {
  padding: 0 0.5em;
}

main>footer {
  padding: 0.5em;
}

.mujLabel {
  display: block;
  width: 100%;
  height: 4em;
  position: relative;

  font-size: 0.8em;

  div {
    position: absolute;
    bottom: 12px;
    left: 10px;
    //top: 20px;
    z-index: 1;
    font-size: 1em;
    transition: transform 0.5s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  input {
    position: absolute;
    bottom: 0;
    font-size: 1em;
    text-overflow: ellipsis;
    overflow: hidden;

    color: $bgcolor;
  }

  input::placeholder {
    font-size: 0;
  }
  input:focus::placeholder {
    color: rgba(mix($textcolor, $themeColour, 90%), 0.8);
    font-size: 1em;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  input::-webkit-input-placeholder {
    color: $bgcolor;
  }

  input:focus, input:not(:placeholder-shown) {
    color: $textcolor;

    +div {
      transform: /*translateX(-10px)*/ translateY(-1.8em);
    }
  }
}

//Slider
$sliderWidth: 1.8em;
.slidecontainer {
    width: 100%; /* Width of the outside container */

    /* The slider itself */
    .slider {
        -webkit-appearance: none;  /* Override default CSS styles */
        appearance: none;
        width: 100%; /* Full-width */
        height: $sliderWidth/3; /* Specified height */
        background-color: $textcolorHover; /* Grey background */
        outline: none; /* Remove outline */
        -webkit-transition: .2s; /* 0.2 seconds transition on hover */
        transition: background-color .2s;
        border-radius: $sliderWidth/9;

        /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
        &::-webkit-slider-thumb {
            -webkit-appearance: none; /* Override default look */
            appearance: none;
            width: $sliderWidth; /* Set a specific slider handle width */
            height: $sliderWidth; /* Slider handle height */
            background: $inputColor; /* Green background */
            cursor: pointer; /* Cursor on hover */
            border-radius: 50%;
        }

        &::-moz-range-thumb {
            width: $sliderWidth; /* Set a specific slider handle width */
            height: $sliderWidth; /* Slider handle height */
            background: #4CAF50; /* Green background */
            cursor: pointer; /* Cursor on hover */
            border-radius: 50%;
        }
    }
}
