.notA {
  border-bottom: none !important; }
  .notA:hover {
    color: white; }

#formSection {
  display: grid;
  justify-content: center;
  grid-row-gap: 20px;
  -ms-grid-row-gap: 20px; }
  #formSection fieldset {
    margin-bottom: 5vh;
    border: none;
    border-radius: 5px;
    padding-right: 1em;
    padding-top: 10px; }
    @media (min-width: 500px) {
      #formSection fieldset {
        max-width: 400px; } }
    #formSection fieldset.itemsMargins > * {
      display: block;
      margin-bottom: 20px; }
      #formSection fieldset.itemsMargins > *:last-child {
        margin-bottom: initial; }
    #formSection fieldset.itemsMargins > legend {
      margin-bottom: 0; }
    #formSection fieldset > legend {
      font-size: 1.2em; }
    #formSection fieldset > input {
      margin-left: 0; }
    #formSection fieldset.last-child {
      margin-bottom: initial; }
  #formSection textarea {
    background-color: black;
    border-width: 1.5px;
    border-radius: 1px;
    padding: 5px 10px;
    color: white;
    resize: none; }

main h1 {
  padding: 0 0.5em; }

main > footer {
  padding: 0.5em; }

.mujLabel {
  display: block;
  width: 100%;
  height: 4em;
  position: relative;
  font-size: 0.8em; }
  .mujLabel div {
    position: absolute;
    bottom: 12px;
    left: 10px;
    z-index: 1;
    font-size: 1em;
    transition: transform 0.5s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1); }
  .mujLabel input {
    position: absolute;
    bottom: 0;
    font-size: 1em;
    text-overflow: ellipsis;
    overflow: hidden;
    color: black; }
  .mujLabel input::placeholder {
    font-size: 0; }
  .mujLabel input:focus::placeholder {
    color: rgba(255, 255, 255, 0.8);
    font-size: 1em;
    text-overflow: ellipsis;
    overflow: hidden; }
  .mujLabel input::-webkit-input-placeholder {
    color: black; }
  .mujLabel input:focus, .mujLabel input:not(:placeholder-shown) {
    color: white; }
    .mujLabel input:focus + div, .mujLabel input:not(:placeholder-shown) + div {
      transform: translateY(-1.8em); }

.slidecontainer {
  width: 100%;
  /* Width of the outside container */
  /* The slider itself */ }
  .slidecontainer .slider {
    -webkit-appearance: none;
    /* Override default CSS styles */
    appearance: none;
    width: 100%;
    /* Full-width */
    height: 0.6em;
    /* Specified height */
    background-color: white;
    /* Grey background */
    outline: none;
    /* Remove outline */
    -webkit-transition: .2s;
    /* 0.2 seconds transition on hover */
    transition: background-color .2s;
    border-radius: 0.2em;
    /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ }
    .slidecontainer .slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      /* Override default look */
      appearance: none;
      width: 1.8em;
      /* Set a specific slider handle width */
      height: 1.8em;
      /* Slider handle height */
      background: white;
      /* Green background */
      cursor: pointer;
      /* Cursor on hover */
      border-radius: 50%; }
    .slidecontainer .slider::-moz-range-thumb {
      width: 1.8em;
      /* Set a specific slider handle width */
      height: 1.8em;
      /* Slider handle height */
      background: #4CAF50;
      /* Green background */
      cursor: pointer;
      /* Cursor on hover */
      border-radius: 50%; }

/*# sourceMappingURL=regform.css.map */
