@import "colors";

$sirkaBorderu: 7px;

main{
  max-width:unset !important;
  width:100%;
}

.schedule{
  display:grid;
  grid-template-columns:2em repeat(7, calc((100% - 2em)/7));
  grid-gap:0.5em;
  grid-template-rows:repeat(100, 5em);
  padding-left: 3.5em;
}

/* Již není potřeba
.head{
  display:grid;
  grid-template-columns:2em repeat(7,1fr);
}*/

.header{
    /*padding:1em;*/
    display: grid;
    align-items: center;
    text-align:center;
    font-size:2em;
    font-weight:bold;
}

.talkWrapper{
    display:grid;
    height:100%;
    width:100%;
    overflow:hidden;
}

.talkFront{
  //background-color: $bgcolor;
  transition: 0.5s;
  //border: $sirkaBorderu solid $textcolor;
  //box-sizing: border-box;
  padding:15px;
  border-radius:10px;
  height:calc(100% - ${30px + 2*$sirkaBorderu});
  cursor: pointer;

  &:hover {
    background-color: $bgcolorHover;
    border-color: $textcolorHover;
  }

  & { //normální
    background-color: $bgcolorHover;
    transition: 0.5s background-color;

    &:hover {
      //background-color: mix($bgcolorHover, $bgcolor);
      background-color: $bgcolor !important;
      color: $textcolor !important;
    }
  }

  .W & { //workshop
    //border-color: $workshopColor;
    background-color: rgba($workshopColor, 0.7);

    &:hover {
      //background-color: mix($workshopColor, $bgcolor, 2);
    }
  }

  .D & { //divadlo
    background-color: rgba($divadloColor, 0.7);

    &:hover {
      //background-color: mix($divadloColor, $bgcolor, 2);
    }
  }

  .P & { //přestávka
    background-color: rgba($prestavkaColor, 0.7);
    color: $bgcolor;

    &:hover {
      //background-color: mix($prestavkaColor, $bgcolor, 2);
    }
  }

  .S & { //speciální
    background-color: rgba($specialColor, 0.5);

    &:hover {
      //background-color: mix($specialColor, $bgcolor, 2);
    }
  }

  .M & { //mystery
    background-color: rgba($mysteryColor, 0.7);

    &:hover {
      //background-color: mix($mysteryColor, $bgcolor, 2);
    }
  }

  .F & { //mystery
    background-color: rgba($filmColor, 0.7);

    &:hover {
      //background-color: mix($filmColor, $bgcolor, 2);
    }
  }
}


.talkSpeaker{
  margin-left:5px;
  font-style:italic;
}

.talkTitle{
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 3px;
  overflow: hidden;
}

.talkTitle {}

.talkLong div{
  margin:15px;
}

.talk1{
  grid-row-start:1;
  grid-row-end:3;
  grid-column:3;
}

.talkWrapper{
  overflow:hidden;
}

.P{
  grid-column: 2/6;
}

.time{
  margin-top:-0.3em;
  grid-column:2/9;
  z-index: 0;
  position:relative;
  height: 1px;
}

.time:nth-child(4n+2){
  border-top:2px solid rgba(white, 0.5);
  z-index: 0;
}

.time span{
  position:absolute;
  left: -3.5em;
  top: -0.75em;
  line-height: 1.5em;
}


.talkRoom{
  margin:5px 0px;
}

.less650{display:none;}
.swipeLeft, .swipeRight{display:none}


main{
  padding-right:5vw !important;
  padding-left:5vw !important;
}

//@media(max-width:650px){
@media(max-width: 62.5em) {
  .schedule{
    grid-template-columns: 2em 1fr;
  }

  .head{
    grid-template-columns: 2em auto 2em;
  }

  .header{
    padding: 1em 0px;
  }

  .swipeLeft, .swipeRight{
    cursor:pointer; display: block
  }


  #scheduleSection{
    padding-right:50px
  }

  .fill{
    display:none;
  }

  .col{
    display:none;
  }

  .show1 .col1{display:grid; grid-column:2 !important;}
  .show2 .col2{display:grid; grid-column:2 !important;}
  .show3 .col3{display:grid; grid-column:2 !important;}
  .show4 .col4{display:grid; grid-column:2 !important;}
  .show5 .col5{display:grid; grid-column:2 !important;}
  .show6 .col6{display:grid; grid-column:2 !important;}
  .show7 .col7{display:grid; grid-column:2 !important;}

  .less650{display:block;}

  .P{
    display:grid;
    grid-column:2/3 !important;
  }

  .show5 .P, .show6 .P, .show7 .P{
    display:none;
  }
}


.active{
  transition:2s;
  position:fixed;
  width:60vw;
  height:60vh;
  top:25vh;
  left:20vw;
  z-index: 100;
}
