@charset "UTF-8";
main {
  max-width: unset !important;
  width: 100%; }

.schedule {
  display: grid;
  grid-template-columns: 2em repeat(7, calc((100% - 2em)/7));
  grid-gap: 0.5em;
  grid-template-rows: repeat(100, 5em);
  padding-left: 3.5em; }

/* Již není potřeba
.head{
  display:grid;
  grid-template-columns:2em repeat(7,1fr);
}*/
.header {
  /*padding:1em;*/
  display: grid;
  align-items: center;
  text-align: center;
  font-size: 2em;
  font-weight: bold; }

.talkWrapper {
  display: grid;
  height: 100%;
  width: 100%;
  overflow: hidden; }

.talkFront {
  transition: 0.5s;
  padding: 15px;
  border-radius: 10px;
  height: calc(100% - ${30px + 2*$sirkaBorderu});
  cursor: pointer; }
  .talkFront:hover {
    background-color: #333;
    border-color: white; }
  .talkFront {
    background-color: #333;
    transition: 0.5s background-color; }
    .talkFront:hover {
      background-color: black !important;
      color: white !important; }
  .W .talkFront {
    background-color: rgba(25, 44, 68, 0.7); }
  .D .talkFront {
    background-color: rgba(68, 0, 0, 0.7); }
  .P .talkFront {
    background-color: rgba(255, 255, 255, 0.7);
    color: black; }
  .S .talkFront {
    background-color: rgba(0, 68, 0, 0.5); }
  .M .talkFront {
    background-color: rgba(46, 4, 70, 0.7); }
  .F .talkFront {
    background-color: rgba(146, 54, 0, 0.7); }

.talkSpeaker {
  margin-left: 5px;
  font-style: italic; }

.talkTitle {
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 3px;
  overflow: hidden; }

.talkLong div {
  margin: 15px; }

.talk1 {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column: 3; }

.talkWrapper {
  overflow: hidden; }

.P {
  grid-column: 2/6; }

.time {
  margin-top: -0.3em;
  grid-column: 2/9;
  z-index: 0;
  position: relative;
  height: 1px; }

.time:nth-child(4n+2) {
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  z-index: 0; }

.time span {
  position: absolute;
  left: -3.5em;
  top: -0.75em;
  line-height: 1.5em; }

.talkRoom {
  margin: 5px 0px; }

.less650 {
  display: none; }

.swipeLeft, .swipeRight {
  display: none; }

main {
  padding-right: 5vw !important;
  padding-left: 5vw !important; }

@media (max-width: 62.5em) {
  .schedule {
    grid-template-columns: 2em 1fr; }

  .head {
    grid-template-columns: 2em auto 2em; }

  .header {
    padding: 1em 0px; }

  .swipeLeft, .swipeRight {
    cursor: pointer;
    display: block; }

  #scheduleSection {
    padding-right: 50px; }

  .fill {
    display: none; }

  .col {
    display: none; }

  .show1 .col1 {
    display: grid;
    grid-column: 2 !important; }

  .show2 .col2 {
    display: grid;
    grid-column: 2 !important; }

  .show3 .col3 {
    display: grid;
    grid-column: 2 !important; }

  .show4 .col4 {
    display: grid;
    grid-column: 2 !important; }

  .show5 .col5 {
    display: grid;
    grid-column: 2 !important; }

  .show6 .col6 {
    display: grid;
    grid-column: 2 !important; }

  .show7 .col7 {
    display: grid;
    grid-column: 2 !important; }

  .less650 {
    display: block; }

  .P {
    display: grid;
    grid-column: 2/3 !important; }

  .show5 .P, .show6 .P, .show7 .P {
    display: none; } }
.active {
  transition: 2s;
  position: fixed;
  width: 60vw;
  height: 60vh;
  top: 25vh;
  left: 20vw;
  z-index: 100; }

/*# sourceMappingURL=schedule.v1.4.css.map */
