.notA {
  border-bottom: none !important; }
  .notA:hover {
    color: white; }

#listSection {
  display: grid;
  grid-template-columns: 100%;
  -ms-grid-template-columns: 100%;
  grid-row-gap: 50px;
  -ms-grid-row-gap: 50px; }
  #listSection .talkWrapper {
    display: grid;
    grid-template-columns: 1fr;
    -ms-grid-template-columns: 1fr;
    grid-template-rows: calc(3em + 15px) minmax(calc(2.4em + 20px), calc(4.8em + 20px));
    -ms-grid-template-rows: calc(3em + 15px) minmax(calc(2.4em + 20px), calc(4.8em + 20px));
    grid-row-gap: 20px;
    -ms-grid-row-gap: 20px;
    margin: 0;
    border-radius: 1px;
    border: 0 solid #4d4d4d;
    box-shadow: 0 0 20px #474747;
    background-color: #1a1a1a;
    transition: box-shadow 0.5s; }
    #listSection .talkWrapper:hover {
      box-shadow: 0 0 40px #474747; }
    #listSection .talkWrapper .talkHead {
      display: grid;
      grid-template-columns: 1fr;
      -ms-grid-template-columns: 1fr;
      grid-template-rows: 1.2em 1em;
      -ms-grid-template-rows: 1.2em 1em;
      grid-row-gap: 0.5em;
      -ms-grid-row-gap: 0.5em;
      background-color: #333;
      padding: 15px;
      padding-bottom: 5px;
      border-radius: 1px; }
    #listSection .talkWrapper .talkTitle {
      font-size: 120%;
      font-weight: bold;
      max-height: 2.8125em;
      width: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
      line-height: 1.2em;
      letter-spacing: 0.05em; }
    #listSection .talkWrapper .talkSpeaker {
      line-height: 1em; }
  #listSection .talkBody {
    padding: 0 10px 10px 10px;
    display: grid;
    grid-template-columns: 100%;
    -ms-grid-template-columns: 100%;
    grid-template-rows: auto auto;
    -ms-grid-template-rows: auto auto;
    grid-row-gap: 10px;
    -ms-grid-row-gap: 10px; }
    #listSection .talkBody .talkShort {
      display: block;
      box-sizing: border-box;
      max-height: 2.4em;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
      #listSection .talkBody .talkShort span {
        line-height: 1.2em;
        text-overflow: ellipsis; }
    #listSection .talkBody .talkLong span:first-child {
      font-size: 80%;
      font-style: italic; }
    #listSection .talkBody .talkLong span:last-child {
      display: none; }
    @media hover {
      #listSection .talkBody:hover {
        grid-row-gap: 15px;
        -ms-grid-row-gap: 15px; }
        #listSection .talkBody:hover .talkShort {
          padding-bottom: 0; }
          #listSection .talkBody:hover .talkShort span {
            border-bottom: 1px dashed white; }
        #listSection .talkBody:hover .talkLong {
          overflow-y: scroll;
          height: 20vh;
          background-color: #1a1a1a;
          box-shadow: 0 0 20px #474747;
          padding: 10px;
          padding-top: 0;
          border-radius: 10px; }
          #listSection .talkBody:hover .talkLong span:first-child {
            display: none; }
          #listSection .talkBody:hover .talkLong span:last-child {
            display: block; } }
    @media not hover {
      #listSection .talkBody.showLongDesc {
        grid-row-gap: 15px;
        -ms-grid-row-gap: 15px; }
        #listSection .talkBody.showLongDesc .talkShort {
          padding-bottom: 0; }
          #listSection .talkBody.showLongDesc .talkShort span {
            border-bottom: 1px dashed white; }
        #listSection .talkBody.showLongDesc .talkLong {
          overflow-y: scroll;
          height: 20vh;
          background-color: #1a1a1a;
          box-shadow: 0 0 20px #474747;
          padding: 10px;
          padding-top: 0;
          border-radius: 10px; }
          #listSection .talkBody.showLongDesc .talkLong span:first-child {
            display: none; }
          #listSection .talkBody.showLongDesc .talkLong span:last-child {
            display: block; } }

@media (min-width: 55em) {
  #listSection .talkWrapper {
    display: grid;
    grid-template-columns: 40% auto;
    -ms-grid-template-columns: 40% auto;
    grid-template-rows: 5.625em;
    -ms-grid-template-rows: 5.625em;
    grid-column-gap: 20px;
    -ms-grid-column-gap: 20px;
    padding: 0; }
    #listSection .talkWrapper .talkHead {
      grid-template-columns: 100%;
      -ms-grid-template-columns: 100%;
      grid-template-rows: minmax(auto, 2.8125em) auto;
      -ms-grid-template-rows: minmax(auto, 2.8125em) auto;
      grid-row-gap: 10px;
      -ms-grid-row-gap: 10px;
      align-items: center;
      justify-items: start;
      padding: 10px;
      padding-right: 0;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px; }
    #listSection .talkWrapper .talkBody {
      padding: 10px;
      padding-left: 0; }
      #listSection .talkWrapper .talkBody .talkShort {
        padding-bottom: 1px; } }

/*# sourceMappingURL=seznam.css.map */
