@import "commix";
@import "colors";

@mixin zobrazLongDesc() {
  @include gridRowGap(15px);

  .talkShort {
    padding-bottom: 0;

    span {
      border-bottom: $aDecoration;
    }
  }

  .talkLong{
    overflow-y: scroll;

    height: 20vh;
    background-color: darken($bgcolorHover, 10%);
    box-shadow: 0 0 20px lighten($bgcolorHover, 8%);
    padding: $padding;
    padding-top: 0;
    border-radius: $padding;

    span:first-child {
      display:none;
    }

    span:last-child {
      display: block;
    }
  }
}

$prednaskaHeight: 5.625em;
$padding: 10px;

#listSection {
  display: grid;
  @include gridTCol(100%);
  @include gridRowGap(50px);

  .talkWrapper{
    display: grid;
    @include gridTCol(1fr);
    @include gridTRow(calc(3em + 15px) minmax(calc(2.4em + 20px), calc(4.8em + 20px)));
    @include gridRowGap(20px);

    margin: 0;

    border-radius: 1px;
    border: 0 solid lighten($bgcolorHover, 10%);
    box-shadow: 0 0 20px lighten($bgcolorHover, 8%);
    background-color: darken($bgcolorHover, 10%);
    transition: box-shadow 0.5s;

    &:hover {
      box-shadow: 0 0 40px lighten($bgcolorHover, 8%);
    }

    .talkHead {
      display: grid;
      @include gridTCol(1fr);
      @include gridTRow(1.2em 1em);
      @include gridRowGap(0.5em);

      background-color: $bgcolorHover;

      padding: 15px;
      padding-bottom: 5px;
      border-radius: 1px;
    }

    .talkTitle{
      font-size: 120%;
      font-weight: bold;

      max-height: 1/2*$prednaskaHeight;
      width: 100%;
      text-overflow: ellipsis;
      overflow: hidden;

      line-height: 1.2em;
      letter-spacing: 0.05em;
    }

    .talkSpeaker{
      line-height: 1em
    }
  }

  .talkBody {
    padding: 0 10px 10px 10px;

    display: grid;
    @include gridTCol(100%);
    @include gridTRow(auto auto);
    @include gridRowGap(10px);

    .talkShort {
      display: block;
      box-sizing: border-box;

      max-height: 2.4em;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      span {
        line-height: 1.2em;
        text-overflow: ellipsis;
      }
    }

    .talkLong {
      span:first-child {
        font-size: 80%;
        font-style: italic;
      }

      span:last-child {
        display:none;
      }
    }

    @media hover {
      &:hover {
        @include zobrazLongDesc();
      }
    }

    @media not hover {
      &.showLongDesc {
        @include zobrazLongDesc();
      }
    }
  }
}

@media (min-width: 55em) {
  #listSection {
    .talkWrapper{
      display: grid;
      @include gridTCol(40% auto);
      @include gridTRow($prednaskaHeight);
      @include gridColGap(20px);

      padding: 0;

      .talkHead {
        @include gridTCol(100%);
        @include gridTRow(minmax(auto, 1/2*$prednaskaHeight) auto);
        @include gridRowGap(10px);

        align-items: center;
        justify-items: start;

        padding: 10px;
        padding-right: 0;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }

      .talkBody {
        padding: $padding;
        padding-left: 0;

        .talkShort {
          padding-bottom: 1px;
        }
      }
    }
  }
}
