.tablesTable{
  width:100%;
  border-collapse: collapse;
}

.tablesTable thead{
  font-weight: bold;
  position:sticky;
  top:0px;
  z-index: 200;
}

.tablesTable thead td{
  padding:8px;
}

.tablesTable thead tr{
  background-color: #111;
  border-bottom:2px solid white;
  box-shadow: 0px 2px white;
  padding:1px 0px !important;
}

.tablesTable tbody tr{
  border-bottom:2px solid transparent;

}

.tablesTableRow{
  background-color:#222;
}

.tablesTableRow:nth-child(2n){
  background-color: #111;
}

.tablesTable td{
  padding:8px;
}

thead td{
  cursor:pointer;
}

.tablesRowClickable:hover{
    border-bottom:2px solid white ;
    cursor: pointer;
    padding:0px;
    z-index:1000;
}

/* dropdown */
.tablesDropdown{
  border-bottom:2px solid transparent;
}

.tablesDropdown:hover{
  border-bottom:2px solid white;
  cursor:pointer;
}

.tablesDropdownHead{
  border-bottom:2px solid transparent !important;
}

.tablesDropdown.odd{
  background-color: #111;
}

.tablesDropdown.even{
  background-color: #222;
}

/*percent bar*/
.tablesTable td{
  position:relative;
}


.tablesPercentBar{
  background-color: #4800A1;
  display: block;
  padding:10px 0px;
  overflow:hidden;
}

.tablesPercentBarValue{
  position:absolute;
  left:.8em;
  top:calc(50% - 1ex);
}

/*boolval*/
.tablesBoolCell{
  padding:0px !important;
}

.tablesBoolCell div{
 padding:9px;
}

.tablesBoolCell .True{
  background-color:#060;
}

.tablesBoolCell .False{
  background-color:#800
}
