/* Default */
.talkWrapper{
  margin: 20px 0px;
  display:grid;
  grid-template-columns: 50% 50%;
  border-radius:15px;
  cursor: pointer;

}

.talkLong{
  transition: 0.5s;
  grid-column:1/3;
  background-color: #1a1a1a;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  max-height: 0px;
  overflow:hidden;
}

.talkLong>div{
  margin:15px;
}

.talkHead{
  background-color: #333;
  padding:15px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display:inline-block;
}

.talkShort{
  background-color:#1a1a1a;
  padding:15px;
  background-color: #1a1a1a;
  display:inline-block;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.talkSpeaker{
  margin-left:5px;
  font-style:italic;
}

.talkTitle{
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 3px;
}



.active .talkShort{
  display:none;
}

.active .talkHead{
  grid-column: 1/3;

}

.active .talkLong{
  display:block;
  max-height:500px;
}

.active .talkHead{
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0px;
}

.talkSpeakerInfo{
  
}


/* Administrace */
#toBeConfirmed .talkLong, #confirmed .talkLong{
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

#toBeConfirmed .controls, #confirmed .controls{
  background-color: #222;
  grid-column: 1/3;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  text-align: center;
  max-height:0px;
  transition:0.5s;
}

#toBeConfirmed .active .controls, #confirmed .active .controls{
  max-height: 100vh;
}

#toBeConfirmed a, #confirmed a{
  border:none;
}

#toBeConfirmed .btn, #confirmed .btn{
  margin:15px;
}

#toBeConfirmed .over, #confirmed.over{
  background-color: unset;
  font-weight: bold;
  color:red;
}

/* Schedule */
.schedule{
    display:grid;
    grid-template-columns:2em repeat(4,4fr);
    grid-gap:0.5em;
    grid-template-rows:repeat(100, 5em)
}

#scheduleSection .head{
    display:grid;
    grid-template-columns:2em repeat(4,4fr);
}

#scheduleSection .header{
    padding:1em;
    text-align:center;
    font-size:2em;
    font-weight:bold;
}

.talkWrapper{
    display:grid;
    height:100%;
    width:100%;
}

.talkFront{
  background-color: #333;
  padding:15px;
  border-radius:10px;
  cursor:pointer;
  height:calc(100% - 30px);
}


.talkSpeaker{
  margin-left:5px;
  font-style:italic;
}

.talkTitle{
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 3px;
}

.talkLong div{
  margin:15px;
}

.talk1{
  grid-row-start:1;
  grid-row-end:3;
  grid-column:3;
}

.talkWrapper{
  overflow:hidden;
}

.W .talkFront{
  background-color: #192c44;
}

.P .talkFront{
  background-color: #ffffffad;
  color:black;
}


.talkRoom{
  margin:5px 0px;
}

.less650{display:none;}
.swipeLeft, .swipeRight{display:none}


//main{
  padding-right:5vw !important;
  padding-left:5vw !important;
}

@media(max-width:650px){
  .schedule{
    grid-template-columns: 2em 1fr;
  }

  .head{
    grid-template-columns: 2em auto 2em;
  }

  .header{
    padding: 1em 0px;
  }

  .swipeLeft, .swipeRight{cursor:pointer; display: block}


  #scheduleSection{
    padding-right:50px
  }

  .fill{
    display:none;
  }

  .col{
    display:none;
  }

  .show1 .col1{display:grid; grid-column:2 !important;}
  .show2 .col2{display:grid; grid-column:2 !important;}
  .show3 .col3{display:grid; grid-column:2 !important;}
  .show4 .col4{display:grid; grid-column:2 !important;}

  .less650{display:block;}

}


#scheduleSection .active{
  transition:2s;
  position:fixed;
  width:60vw;
  height:60vh;
  top:25vh;
  left:20vw;
  z-index: 100;
}
