.notA {
  border-bottom: none !important; }
  .notA:hover {
    color: white; }

#newTalk div {
  width: 90%;
  margin: 20px auto;
  text-align: center;
  padding: 20px 0px;
  border: 2px solid white;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0); }
  #newTalk div:hover, #newTalk div:active, #newTalk div:focus {
    background-color: white;
    border-color: black;
    color: black; }
    #newTalk div:hover a, #newTalk div:active a, #newTalk div:focus a {
      color: #333;
      border-color: #333; }
  #newTalk div:active {
    outline: none; }
  #newTalk div:focus {
    outline-color: white; }

.talk {
  width: calc(90% - 20px);
  background-color: #222;
  padding: 10px;
  margin: 20px auto; }

.title {
  font-size: 130%;
  margin: 5px 0px 10px 5px; }

#talks a {
  color: white;
  text-decoration: none; }

/*# sourceMappingURL=talks.css.map */
