@import "colors";
@import "commix";

#newTalk {
  div{
    width:90%;
    margin:20px auto;
    text-align: center;
    padding:20px 0px;
    //background-color: $textcolor;
    //color: $bgcolor;

    border: 2px solid $textcolor;
    border-radius: 5px;
    background-color: rgba(0,0,0,0);

    &:hover, &:active, &:focus {
      background-color: $textcolor;
      border-color: $bgcolor;
      color: $bgcolor;

      a{
        //@extend .notA;
        color: $bgcolorHover;
        border-color: $bgcolorHover;
      }
    }

    &:active {
      outline: none;
    }

    &:focus {
      outline-color: $textcolor;
    }
  }
}

.talk{
  width:calc(90% - 20px);
  background-color:#222;
  padding:10px;
  margin:20px auto;
}

.title{
  font-size:130%;
  margin:5px 0px 10px 5px;
}

#talks a{
  color:white;
  text-decoration: none;
}
