#contactSection .icons{
  margin: 20px 0px 0px;
  text-align:center;

}

#contactSection .icons i, #contactSection .icons img{
  margin: 5px 5px;
}

#contactSection i, #contactSection img{
  font-size: 30px;
  height:30px;
  transition:0.2s;
}

#contactSection .icons img{
  margin-bottom:-4px !important;
}

#contactSection .icons i:hover, #contactSection .icons img:hover{
  cursor:pointer;
  font-size: 35px;
  height: 35px;
  margin: 0px 5px;
}

#contactSection #form input[type=text]{
  border:none;
  margin-left:0px !important;
  padding-left:0px !important;

}

#contactSection #form .input{
  border-bottom: 1px solid white;
  display: inline-block;
  width:50%;
  vertical-align: middle;
}

#contactSection .wrapper{
  margin-bottom:15px;
}

#contactSection #form i, #contactSection #form img{
  display:inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

#contactSection img{
  margin-bottom: 0px !important;
}



textarea{
  width:100%;
  height:5em;
}
.pointer{
  cursor:pointer;
}

.notA{
  border-bottom:none !important;
}

#users{
  height:500px !important;
  overflow:scroll;
}

.tablesTableWrapper{
  margin:0 -20%;
}

#formSection .formErrors{
  border:2px solid white;
  border-radius: 15px;
  padding:1em;
}

#formSection .formErrors:empty{
  display:none;
}
