.notA {
  border-bottom: none !important; }
  .notA:hover {
    color: white; }

body {
  min-width: 20em; }

#userMenu {
  min-height: 38px;
  width: 100%;
  display: grid;
  grid-template-rows: 38px;
  -ms-grid-template-rows: 38px;
  font-size: 90%;
  border-top: 2px solid white;
  padding-top: 5px;
  /*@media (min-width: 52em) {
    height: $userMenuHeight;
    @include gridTCol(repeat(5, auto));
    @include gridTRow(1fr);
  }*/ }
  @media (min-width: 30em) {
    #userMenu {
      grid-row-gap: 9.5px;
      -ms-grid-row-gap: 9.5px; } }
  #userMenu.UM2 {
    grid-template-columns: repeat(1, auto);
    -ms-grid-template-columns: repeat(1, auto); }
    @media (min-width: 30em) {
      #userMenu.UM2 {
        grid-template-columns: repeat(2, auto);
        -ms-grid-template-columns: repeat(2, auto); } }
  #userMenu.UM3 {
    grid-template-columns: repeat(1, auto);
    -ms-grid-template-columns: repeat(1, auto); }
    @media (min-width: 30em) and (max-width: 45em) {
      #userMenu.UM3 {
        grid-template-columns: repeat(2, auto);
        -ms-grid-template-columns: repeat(2, auto); }
        #userMenu.UM3 a:nth-child(3n) {
          grid-column: 1 / span 2; } }
    @media (min-width: 45em) {
      #userMenu.UM3 {
        grid-template-columns: repeat(3, auto);
        -ms-grid-template-columns: repeat(3, auto); } }
  #userMenu.UM5 {
    grid-template-columns: repeat(1, auto);
    -ms-grid-template-columns: repeat(1, auto); }
    @media (min-width: 30em) and (max-width: 45em) {
      #userMenu.UM5 {
        grid-template-columns: repeat(2, auto);
        -ms-grid-template-columns: repeat(2, auto); }
        #userMenu.UM5 a:nth-child(5n) {
          grid-column: 1 / span 2; } }
    @media (min-width: 45em) and (max-width: 75em) {
      #userMenu.UM5 {
        grid-template-columns: repeat(6, auto);
        -ms-grid-template-columns: repeat(6, auto); }
        #userMenu.UM5 a:nth-child(5n+1) {
          grid-column: 1 / span 2; }
        #userMenu.UM5 a:nth-child(5n+2) {
          grid-column: 3 / span 2; }
        #userMenu.UM5 a:nth-child(5n+3) {
          grid-column: 5 / span 2; }
        #userMenu.UM5 a:nth-child(5n+4) {
          grid-column: 1 / span 3; }
        #userMenu.UM5 a:nth-child(5n) {
          grid-column: 4 / span 3; } }
    @media (min-width: 75em) {
      #userMenu.UM5 {
        grid-template-columns: repeat(5, auto);
        -ms-grid-template-columns: repeat(5, auto); } }
  #userMenu div {
    text-align: center;
    line-height: 40px;
    height: 40px;
    border-bottom: 2px solid white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }
    #userMenu div:hover, #userMenu div.active {
      color: black; }
    #userMenu div:hover {
      background-color: white;
      border-color: white; }
    #userMenu div.active {
      background-color: white;
      border-color: white; }
  #userMenu a, #userMenu a:hover {
    display: table-cell;
    color: white;
    text-decoration: none;
    border-bottom: none; }

form {
  width: 100%;
  margin: 20px auto; }

input[type="file"].inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1; }

label.custom-file-upload {
  display: inline-block;
  border-bottom: 1px solid white;
  padding: 6px 12px;
  margin: 0 1px;
  cursor: pointer; }

.inputfile:focus + label.custom-file-upload,
.inputfile + label.custom-file-upload:hover {
  background-color: #333;
  border: 1px solid #333;
  margin: 0; }

.inputfile:focus + label.custom-file-upload {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px; }

.msg {
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px;
  margin: 5vh auto 5px;
  width: 60%; }

.userTable a, .userTable a:hover {
  border-bottom: none; }
.userTable a:hover {
  color: #b94875; }

h1.imph1 span {
  background: -webkit-linear-gradient(left, red, yellow, green, cyan, blue, violet);
  background: -o-linear-gradient(right, red, yellow, green, cyan, blue, violet);
  background: -moz-linear-gradient(right, red, yellow, green, cyan, blue, violet);
  background: linear-gradient(to right, red, yellow, green, cyan, blue, violet);
  background-size: 1800% 1800%;
  -webkit-animation: rainbow 10s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
  -z-animation: rainbow 10s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
  -o-animation: rainbow 10s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
  animation: rainbow 10s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }
@-webkit-keyframes rainbow {
  0% {
    background-position: 0% 82%; }
  50% {
    background-position: 100% 19%; }
  100% {
    background-position: 0% 82%; } }
@-moz-keyframes rainbow {
  0% {
    background-position: 0% 82%; }
  50% {
    background-position: 100% 19%; }
  100% {
    background-position: 0% 82%; } }
@-o-keyframes rainbow {
  0% {
    background-position: 0% 82%; }
  50% {
    background-position: 100% 19%; }
  100% {
    background-position: 0% 82%; } }
@keyframes rainbow {
  0% {
    background-position: 0% 82%; }
  50% {
    background-position: 100% 19%; }
  100% {
    background-position: 0% 82%; } }
ul.imperialist {
  list-style: none;
  margin-left: 0;
  padding-left: 1em;
  text-indent: -1em; }
  ul.imperialist li:before {
    content: "\f0f4 \020";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900; }
  ul.imperialist a {
    border-bottom-width: 0; }

.deleteAcc:hover, .deleteAcc:focus, .deleteAcc:active {
  background-color: #b94875;
  border-color: #b94875; }

/*# sourceMappingURL=user.css.map */
