@import "commix";
@import "colors";

$userMenuHeight: 38px;
$radiusTabs: 5px;

body {
  min-width: 20em;
}

#userMenu{
  min-height: $userMenuHeight;
  width:100%;
  display: grid;
  //@include gridTCol(repeat(3, auto));
  @include gridTRow($userMenuHeight);
  font-size: 90%;

  border-top:2px solid $textcolor;
  padding-top:5px;

  @media(min-width: 30em) {
    @include gridRowGap(#{$userMenuHeight/4});
  }

   /*@media (min-width: 52em) {
     height: $userMenuHeight;
     @include gridTCol(repeat(5, auto));
     @include gridTRow(1fr);
   }*/

   &.UM2 {
     @include gridTCol(repeat(1, auto));

     @media(min-width: 30em) {
       @include gridTCol(repeat(2, auto));
     }
   }

   &.UM3 {
     @include gridTCol(repeat(1, auto));

     @media(min-width: 30em) and (max-width: 45em){
       @include gridTCol(repeat(2, auto));

       a:nth-child(3n) {
         grid-column: 1 / span 2;
       }
     }

     @media(min-width: 45em) {
       @include gridTCol(repeat(3, auto));
     }
   }

   &.UM5 {
     @include gridTCol(repeat(1, auto));

     @media(min-width: 30em) and (max-width: 45em){
       @include gridTCol(repeat(2, auto));

       a:nth-child(5n) {
         grid-column: 1 / span 2;
       }
     }

     @media(min-width: 45em) and (max-width: 75em){
       @include gridTCol(repeat(6, auto));
       a:nth-child(5n+1) {
         grid-column: 1 / span 2;
       }
       a:nth-child(5n+2) {
         grid-column: 3 / span 2;
       }
       a:nth-child(5n+3) {
         grid-column: 5 / span 2;
       }
       a:nth-child(5n+4) {
         grid-column: 1 / span 3;
       }
       a:nth-child(5n) {
         grid-column: 4 / span 3;
       }
     }

     @media(min-width: 75em) {
       @include gridTCol(repeat(5, auto));
     }
   }

  div{
    text-align: center;
    line-height: 40px;
    height:40px;

    border-bottom:2px solid $textcolor;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    &:hover, &.active{
      color: $bgcolor;
    }

    &:hover {
      background-color: $textcolorHover;
      border-color: $textcolorHover;
    }

    &.active {
      background-color: $textcolor;
      border-color: $textcolor;
    }

  }

  a, a:hover{
    display: table-cell;
    color: $textcolor;
    text-decoration: none;
    border-bottom: none;
  }
}

form{
  width:100%;
  margin: 20px auto;
}

input[type="file"] {
    //display: none;

    &.inputfile {
      width: 0.1px;
    	height: 0.1px;
    	opacity: 0;
    	overflow: hidden;
    	position: absolute;
    	z-index: -1;
    }
}

label.custom-file-upload {
    display: inline-block;

    border-bottom: 1px solid $textcolor;

    padding: 6px 12px;
    margin: 0 1px;

    cursor: pointer;
}

.inputfile:focus + label.custom-file-upload,
.inputfile + label.custom-file-upload:hover {
    background-color: $bgcolorHover;
    border: 1px solid $bgcolorHover;
    margin: 0;
}

.inputfile:focus + label.custom-file-upload {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

.msg{
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px;
  margin:5vh auto 5px;
  width:60%;
}

.userTable{

  a, a:hover {
    border-bottom: none;
  }

  a:hover {
    color: $cancel;
  }
}

//Imperialista (hodně kelímků)
h1.imph1 { span {
  background: -webkit-linear-gradient(left, red , yellow, green, cyan, blue, violet);
  background: -o-linear-gradient(right, red, yellow, green, cyan, blue, violet);
  background: -moz-linear-gradient(right, red, yellow, green, cyan, blue, violet);
  background: linear-gradient(to right, red , yellow, green, cyan, blue, violet);
  //background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 1800% 1800%;

  $krivka: cubic-bezier(0.785, 0.135, 0.15, 0.86);

-webkit-animation: rainbow 10s $krivka infinite;
-z-animation: rainbow 10s $krivka infinite;
-o-animation: rainbow 10s $krivka infinite;
  animation: rainbow 10s $krivka infinite;

@-webkit-keyframes rainbow {
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow {
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
}
ul.imperialist {
  list-style: none;
   margin-left: 0;
   padding-left: 1em;
   text-indent: -1em;
  li:before {
   content: "\f0f4 \020";
   font-family: 'Font Awesome 5 Free';
   font-weight: 900;
 }

 a {
   border-bottom-width: 0;
 }
 }

 .deleteAcc {
   &:hover, &:focus, &:active {
     background-color: $cancel;
     border-color: $cancel;
   }
 }
