{block content}


	<div class="page-header"><h1>Přihlášené neschválené přednášky</h1></div>

    <table class="table table-bordered">
		<tbody>
			<div n:foreach="$talksHidden as $talk" class="talk">
				<tr>
					<th class="col-md-3">{$talk->user->name}{if $talk->user->nick} „{$talk->user->nick}“{/if} {$talk->user->last_name}</th>
					<td class="text-center" rowspan="4">{$talk->decription}</td>
					<td class="col-md-1"><a n:href="approve! $talk->id">Schválit</td>
				</tr>
				<tr><th>{$talk->name}</th>
					<td {if $talk->hot == 2}class="bg-info"{/if}><a n:href="spare! $talk->id">Host</a></td></tr>
				<tr><td>{$talk->subject}</td>
					<td rowspan="2"><a n:href="delete! $talk->id">Smazat</a></td>
				</tr>
				<tr><td class=" text-center "><span class="col-md-4 text-left">{$talk->lenght}</span>
						{if $talk->user->first_day}
						<span class="col-md-4 bg-success"><i class="fa fa-check" aria-hidden="true"></i>{else}
							<span class="col-md-4 bg-danger"><i class="fa fa-times" aria-hidden="true"></i>
								{/if}</span>
							{if $talk->user->second_day}
							<span class="col-md-4 bg-success"><i class="fa fa-check" aria-hidden="true"></i>{else}
								<span class="col-md-4 bg-danger"><i class="fa fa-times" aria-hidden="true"></i>
									{/if}</span>
					</td></tr>
				<tr class="bg-success"><td colspan="3"></td></tr>
			</div>
		</tbody>
	</table>
