{block content}


	<div class="page-header"><h1>Přihlášené schválené přednášky - výpis</h1></div>

    <table class="table table-bordered">
		<tbody class="">
			<div n:foreach="$talksShownListed as $talk" class="talk ">
				<tr>
					<th class="col-md-3">{$talk->user->name}{if $talk->user->nick} „{$talk->user->nick}“{/if} {$talk->user->last_name}</th>
					<td class="text-center" rowspan="4">{$talk->decription}</td>
				</tr>
				<tr><th>{$talk->name}</th></tr>
				<tr><td>{$talk->subject}</td>
				</tr>
				<tr><td>{$talk->lenght} min | {$talk->votes} oblíbenosti</td>
				</tr>
				<tr class="bg-success"><td colspan="3"></td></tr>
			</div>
		</tbody>
	</table>