{block content}

{snippet list}
    <div class="page-header"><h1>
		    Schválené přednášky
		    <span class="pull-right">
				<a id="previousEra" class="ajax" n:href="previousEra! $aera"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
				BrNOC<sup>{$aera}</sup>
				<a id="nextEra" class="ajax" n:href="nextEra! $aera"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
			</span>
	    </h1></div>

	<div n:foreach="$talks as $talk" class="talk">
		<table id="{$talk->id}" class="table table-bordered {if $talk->hot == 1}table-hot" data-toggle="tooltip" data-placement="right" data-html="true" title="Nová přednáška"
			   {elseif $talk->hot == 2}table-spare" id="host" data-toggle="tooltip" data-placement="right" data-html="true" title="Hosté"{else}"{/if}>
			<tr>
				<th class="col-md-3 bg-primary">{$talk->user->name}{if $talk->user->nick} „{$talk->user->nick}“{/if} {$talk->user->last_name} {if $talk->id == -13} a <br />Stanislav Tabbrovec{/if}
					{if $talk->id == 43} a <br />Mgr. Jaromír Literák Ph.D. {/if}</th>
				<td class="col-md-7 text-center" rowspan="3">{$talk->decription}</td></tr>
			<tr><th class="bg-info">{$talk->name}</th></tr>
			<tr><td>{$talk->subject}</td></tr>
		</table>
		<hr />
	</div>
{/snippet}
