{block content}


<div class="page-header"><h1>Celková anketa</h1></div>

<div class="alert alert-danger text-center"><strong>Až po akci</strong></div>
{*<h2>Svým hlasem může </h2>*}
{*{control rateTalkForm}*}
