<!DOCTYPE html>
<html lang="cz">
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<!-- Meta information -->
	<meta name="description" content="BrNOC - brněnská přednášková noc">
	<meta name="keywords" content="BrNOC, přednášky, noc, přednášková noc">
	<meta name="author" content="Ronald Luc">
	<link rel="alternate" hreflang="cz-cz">

	<link rel="apple-touch-icon" sizes="57x57" href="{$basePath}/assets/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="{$basePath}/assets/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="{$basePath}/assets/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="{$basePath}/assets/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="{$basePath}/assets/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="{$basePath}/assets/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="{$basePath}/assets/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="{$basePath}/assets/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="{$basePath}/assets/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="{$basePath}/assets/favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="{$basePath}/assets/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="{$basePath}/assets/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="{$basePath}/assets/favicon/favicon-16x16.png">
	<link rel="manifest" href="{$basePath}/assets/favicon/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="{$basePath}/assets/favicon/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">

	<title>BrNOC - brněnská přednášková noc</title>

	<!-- Bootstrap core CSS -->
	<link href="{$basePath}/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="{$basePath}/assets/css/carousel.css" rel="stylesheet">
	<link href="{$basePath}/assets/css/custom.css" rel="stylesheet">
	<link href="{$basePath}/assets/fonts/css/font-awesome.min.css" rel="stylesheet">

	<!-- Velké díky za pomoc s tvorbou tohoto webu patří Tomovi B. a Martinovi M. a to především za alltime live support s Nette i CSS-->

	</head>
<!-- NAVBAR
================================================== -->
	<body>

	<div class="wraper-content center-block">

		<div class="navbar-wrapper">
			<div class="container">

				<nav class="navbar navbar-inverse navbar-static-top">
					<div class="container">
						<div class="navbar-header {ifCurrent Homepage:*}active{/ifCurrent}">  {* zkusil jsem to dat sem a nic*}
							<button type="button" class="navbar-toggle collapsed {ifCurrent Homepage:*}active{/ifCurrent}" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
								<span class="sr-only">Rozbalit menu</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a class="navbar-brand {ifCurrent Homepage:*}brnoc-active{/ifCurrent}" n:href="Homepage:default">BrNOC</a> </li></ul> {* a zkusil jsem to dat i sem a taky nic*}
						</div>
						<div id="navbar" class="navbar-collapse collapse">
							<ul class="nav navbar-nav">
							{*<li class="{ifCurrent Homepage:*}{*active{/ifCurrent}"><a n:href="Homepage:default">BrNOC</a></li>*} {* p;vodně to bylo tady a Logo klikatelné nebylo, teď to chci změnit*}
							<li {ifCurrent News:*}class="active"{/ifCurrent}><a n:href="News:default">
									<i class="fa fa-paper-plane fa-lg" aria-hidden="true"></i><span class="visible-xs-inline">&nbsp; Novinky</span></a></li>
								<li {ifCurrent Recent:default}class="active"{/ifCurrent}><a n:href="Recent:default">Současný ročník</a></li>
								<li {ifCurrent History:*}class="active"{/ifCurrent}><a n:href="History:r1">Historie</a></li>
								{*<li {ifCurrent RegisteredTalks:survey}class="active"{/ifCurrent}><a n:href="RegisteredTalks:survey">Anketa</a></li>*}
							<li class="dropdown {ifCurrent RegistrationUser:}active{/ifCurrent}{ifCurrent RegistrationTalk:}active{/ifCurrent}">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp; Přihláška<span class="caret"></span></a>
									<ul class="dropdown-menu">
									<li><a n:href="RegistrationUser:default"><i class="fa fa-user" aria-hidden="true"></i>&nbsp; Osoba</a></li>
									<li role="separator" class="divider"></li>
									<li><a n:href="RegistrationTalk:default"><i class="fa fa-graduation-cap" aria-hidden="true"></i>&nbsp; Přednáška</a></li>
								</ul>
							</li>
								<li {ifCurrent RegisteredTalks:default}class="active"{/ifCurrent}><a n:href="RegisteredTalks:default">Přednášky</a></li>
								<li {ifCurrent Recent:workshops}class="active"{/ifCurrent}><a n:href="Recent:workshops"><strong>Workshopy</strong></a></li>
								<li {ifCurrent Recent:shirts}class="active"{/ifCurrent}><a n:href="Recent:shirts"><i class="fa fa-hand-o-right" aria-hidden="true"></i>&nbsp; Tričko</a></li>
								{*<li {ifCurrent Schedule:default}class="active"{/ifCurrent}><a n:href="Schedule:default">Harmonogram</a></li>*}
							<li {ifCurrent Registered:default}class="active"{/ifCurrent}><a n:href="Registered:default">
									<i class="fa fa-users fa-lg" aria-hidden="true"></i><span class="visible-xs-inline">&nbsp; Přihlášení</span></a></li>
							<li {ifCurrent RightAngle:*}class="active"{/ifCurrent}><a n:href="RightAngle:">
									<i class="fa fa-eye fa-lg" aria-hidden="true"></i><span class="visible-xs-inline">&nbsp; Pravoúhlý sněm</span></a></li>
							<li {ifCurrent Contact:*}class="active"{/ifCurrent}><a n:href="Contact:">
									<i class="fa fa-phone fa-lg" aria-hidden="true"></i><span class="visible-xs-inline">&nbsp; Kontakty</span></a></li>
							</ul>

							{*ADMIN menu*}
							<ul class="nav navbar-nav navbar-right">
								<li n:if="$user->loggedIn" {ifCurrent EmailSender:*}class="active"{/ifCurrent}><a n:href="EmailSender:admin">Emailovátko</a></li>
								<li n:if="$user->loggedIn" {ifCurrent Statistics:*}class="active"{/ifCurrent}><a n:href="Statistics:admin">Statistiky</a></li>
								<li n:if="$user->loggedIn" class="dropdown active">
									<a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Administrace<span class="caret"></span></a>
									<ul class="dropdown-menu">
										<li><a n:href="Registered:admin">Účastníci</a></li>
										<li role="separator" class="divider"></li>
										<li><a n:href="RegisteredTalks:adminHidden">Přednášky neschválené</a></li>
										<li role="separator" class="divider"></li>
										<li><a n:href="RegisteredTalks:adminShown">Přednášky schválené</a></li>
										<li role="separator" class="divider"></li>
										<li><a n:href="Sign:out">Odhlásit</a></li>
									</ul>
								</li>
								{*<li n:if="!$user->loggedIn" {ifCurrent Sign:admin}class="active"{/ifCurrent}><a n:href="Sign:admin">Administrace</a></li>*}
								{*1. BrNOC: https://www.facebook.com/events/481683275366214/*}
								<li class=""><a href="https://www.facebook.com/events/179718439138401/permalink/185723848537860/" class="navbar-link">
										<i class="fa fa-facebook-square fa-lg"></i><span class="visible-xs-inline">&nbsp; Facebook</span></a></li>
							</ul>
						</div>
					</div>
				</nav>

			</div>
		</div>


		<!-- Carousel
		================================================== -->
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
				<li data-target="#myCarousel" data-slide-to="2"></li>
				<li data-target="#myCarousel" data-slide-to="3"></li>
			</ol>
			<div class="carousel-inner" role="listbox">
				<div class="item active">
					<img class="first-slide" src="{$basePath}/assets/img/CarouselDrakBlank.png" alt="First slide">
					<!-- data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==-->
					<div class="container">
						<div class="carousel-caption"><span class="carousel-text">
							<h1 class="carousel-text-h">BrNOC</h1>
							<h2 class="carousel-text-h">Brněnská přednášková noc</h2>
							<p>Poslechni si přednášky svých vrstevníků.</p></span>
							<p><a class="btn btn-lg btn-primary carousel-button" n:href="RegistrationUser:default" role="button">To chci!</a></p>
						</div>
					</div>
				</div>
				<div class="item">
					<img class="second-slide" src="{$basePath}/assets/img/CarouselDort.jpg" alt="Second slide">
					<div class="container">
						<div class="carousel-caption"><span class="carousel-text">
					<h1 class="carousel-text-h">„Tak sladkou akci jsem ještě neviděl.“</h1>
					<p>Nevěřte ostatním, ochutnejte sami.</p></span>
							<p><a class="btn btn-lg btn-primary carousel-button" n:href="RegisteredTalks:default" role="button">Nevěřím!</a></p>
						</div>
					</div>
				</div>
				<div class="item">
					<img class="third-slide" src="{$basePath}/assets/img/CarouselIluminati.png" alt="Third slide">
					<div class="container">
					<div class="carousel-caption"><span class="carousel-text">
						<h1 class="carousel-text-h">Zjisti, co skýtá nejžhavější akce roku 2016</h1></span>
						<p><a class="btn btn-lg btn-primary carousel-button" n:href="Homepage:default#what" role="button">O BrNOCi</a></p>
					</div>
					</div>
				</div>

				<div class="item">
					<img class="forth-slide" src="{$basePath}/assets/img/CarouselPrednaska.jpg" alt="Forth slide">
					<div class="container">
						<div class="carousel-caption"><span class="carousel-text">
					<h1 class="carousel-text-h">Dle ankety jsme uspokojili 110 % účastníků</h1>
					</span>
							<p><a class="btn btn-lg btn-primary carousel-button" n:href="History:r1" role="button">Loňské přednášky</a></p>
						</div>
					</div>
				</div>
			</div>
			<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			<span class="sr-only">Předchozí</span>
			</a>
			<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Další</span>
			</a>
		</div><!-- /.carousel -->

		<div class="marketing inner-content">

			{*<div class="alert alert-danger text-center"><strong>Deadline pro přihlášení je ve středu 16. 3. cca v 11:11 (poznáte, pokud to už nepůjde).</strong></div>*}
			{*<div class="alert alert-warning text-center"><strong>Všem účastníkům byly rozeslány hromadné emaily, pokud ti žádný nedošel, <a href="mailto:pus&#64brnoc.cz">kontaktuj nás</a>.</strong></div>*}
			{*<div class="alert alert-danger text-center"><strong>Přihlašování účastníků skončí 30. 11.</strong></div>*}
			{*<div class="alert alert-success text-center"><strong>Zveřejnili jsme <a href="{$basePath}/assets/doc/Harmonogram_BrNOC%5E2.pdf">harmonogram</a> akce</strong></div>*}
			<div n:foreach="$flashes as $flash" class="alert alert-{$flash->type} text-center"><strong>{$flash->message}</strong></div>

			{include content}
			{*{block scripts}*}

		</div>
	</div>

		<div class="footer container">
			<!-- FOOTER -->
			<footer>
				<p class="pull-right"><a href="#">Nahoru</a></p>
				<p class="footer-text">&copy; 2016 - 2017 by <a href="http://tripmap.cz/contact/">Ronald Luc</a> a Martin Kurečka <a n:href="Sign:admin">&middot;</a> <a n:href="RightAngle:#right-angle">PúS</a> <a n:href="Sign:admin">&middot;</a> <a n:href="Sign:prostapravidla">PP</a></p>
			</footer>
		</div>
		<!-- /.container -->


	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<!-- jQuery -->
	<script src="{$basePath}/jquery/disc/jquery.google.min.js"></script>
	<script src="{$basePath}/jquery/disc/jquery.min.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<!--<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>-->
	<script src="{$basePath}/bootstrap/dist/js/bootstrap.min.js"></script>
	<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
	<script src="{$basePath}/assets/js/vendor/holder.min.js"></script>

	{*Nette AJAX*}
	<script src="{$basePath}/assets/js/nette.ajax.js"></script>

	<script>
		$(function () {
			$.nette.init();
		});
	</script>

	<script>
		$(document).ready(function(){
			$('[data-toggle="tooltip"]').tooltip();
		});
	</script>

	<script n:syntax="off">
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-75589935-2', 'auto');
		ga('send', 'pageview');

	</script>
	</body>
</html>
