{* This is the welcome page, you can delete it *}

{block content}

  	<div class="row">
		<div class="col-lg-4 col-sm-6">
			<a class="btn btn-default btn-text" n:href="Recent:default#recent"><span class="outerBox">
				<img class="img-circle" src="{$basePath}/assets/img/jaroska.jpg" alt="Jaroška" width="140" height="140">
				<h2>Aktuální ročník</h2>
				<p>Zjisti, co všechno druhý ročník BrNOCi zahrnuje.</p>
			</span></a>
		</div><!-- /.col-lg-4 -->
		<div class="col-lg-4 col-sm-6">
			<a class="btn btn-default btn-text" n:href="RegistrationUser:"><span class="outerBox">
				<img class="img-circle" src="{$basePath}/assets/img/petrov.jpg" alt="Noční Brno" width="140" height="140">
				<h2>Chci jet!</h2>
				<p>Zaujalo tě to? Pojeď poNOCovat!</p>
			</span></a>
		</div><!-- /.col-lg-4 -->
		<div class="col-lg-4 col-sm-6">
			<a class="btn btn-default btn-text" n:href="RightAngle:#right-angle"><span class="outerBox">
				<img class="img-circle" src="{$basePath}/assets/img/logoRightAngle.png" alt="Pravoůhlý sněm" width="140" height="140">
				<h2>Kdo to spáchal?</h2>
				<p>... aneb tady tihle to mají na svědomí</p>
			</span></a>
		</div><!-- /.col-lg-4 -->
  	</div><!-- /.row -->


      <!-- START THE FEATURETTES -->



	<div class="featurette">


		<hr class="featurette-divider">

		<h2 class="featurette-heading">Brněnská přednášková noc<sup>2</sup></h2>

		<h2>Aktuální konání 2.–4. 12. 2016.</h2>

		<p class="lead">
			Brněnská přednášková noc, či též BrNOC, je konference pro studenty, vzniklá po vzoru PNOCi a KNOCi Gymnázia Botičská,
			konaná na půdě Gymnázia, tř. Kpt. Jaroše.<br />
			Nabízí aktivním studentům možnost přednést výsledky své vědecké činnosti,
			poznatků z odborných i neodborných zájmů (a jakékoli podobné  činnosti) svým vrstevníkům.
		</p>

		<p class="lead">
			Chceš přednášet na libovolné téma?<br />
			Chceš zažít Brno jinak?<br />
			Chceš si zkusit přednést SOČku nanečisto?<br />
			Chceš získat zpětnou vazbu na svoji práci?<br />
			Chceš poznat podobně naladěné studenty a rozšířit si rozhledy?<br />
			Chceš prozkoumat Mystery room?<br />
		</p>

		<h2><a n:href="Recent:default">Pojď do toho!</a></h2>

		<hr class="featurette-divider">
	</div>


      <!-- /END THE FEATURETTES -->

