@import "fonts.css";

body {
  margin: 0;
  padding: 5vh 10vw;

  background-color: #141414;
  color: #dedede;
  font-family: Nunito;
}

h1, h2 {
  font-weight: 300;
}

h2 {
  font-style: italic;
}

main {
  display: grid;
  background-color: inherit;
}

main>article {
  border: 1px solid #ffffffdd;
  border-radius: 4px;
  padding: 15px;
  margin: 10px 0;

  text-align: justify;
  overflow: hidden;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;

  background-color: inherit;
}

main>article>h3 {
  text-align: center;
}

main>article>table{
  margin: 0 auto;
}

main>article>table td:nth-child(1) {
  padding-right: 10px;
}

main>article>table td:nth-child(2) {
  text-align: right;
  padding-left: 10px
}

.doprava td:nth-child(2) {
  font-weight: 300;
  font-size: 0.9em;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media   /*(min-width: 768px) and (-webkit-max-device-pixel-ratio: 1.5),
         (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 1.5)*/
        (min-width: 48em) and  (-webkit-max-device-pixel-ratio: 1.5),
        (min-width: 64em) and (-webkit-min-device-pixel-ratio: 1.5){
  main {
    grid-template-columns: 1fr 1fr;
  }

  main>article {
    margin: 10px;
  }
}