.outerBox {
	display:block;
}

.btn-text {
	margin-bottom:15px;
	white-space: normal;
	display: block;
	width: 100%;
	height: 290px;
	padding-right: 0;
	padding-left: 0;
	padding-top: 20px;
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.rightAngle {
	margin-bottom:15px;
	white-space: normal;
	height: 290px;
	padding-right: 0;
	padding-left: 0;
	padding-top: 20px;
}

.brnoc-active {
	color: white !important;
	background-color: rgba(0, 0, 0, 0.87) !important;
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
}

body {
	background-color: white;
	background-image: url("../img/mainbackground.png");
	background-attachment: fixed;
	background-repeat: repeat-x;

}

.carousel-text {
	text-shadow: black 0.1em 0.1em 0.2em;
	font-size: small;
}

.navbar {
	box-shadow: 2px 6px 12px rgba(0,0,0,.175);
}

.wraper-content {
	background-color: white;
	border-radius: 25px;
	box-shadow: 2px 6px 12px rgba(0,0,0,.175);
}

.inner-content {
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	padding-bottom: 5px;
}

.footer {
	margin-top: 20px;
}

.footer-text {
}

.table-hot {
	box-shadow: 0px 0px 20px rgba(255, 17, 0, 0.94);
}

/* tooltip */
.table-hot + .tooltip > .tooltip-inner {
	background-color: rgba(255, 17, 0, 1);
	color: #FFFFFF;
	/*border: 1px solid #000000;*/
	padding: 15px;
	font-size: 20px;
	box-shadow: 0px 0px 20px #ff1100;
}

.table-hot + .tooltip > .tooltip-arrow {
	border-right: 5px solid red;
}

.tr-warning > td {
	background-color: rgba(254, 255, 0, 0.5);
}

.table-schedule>tbody>tr>td {
	/*color: black;*/
	display: table-cell;
	vertical-align: middle;
}

.table-shirts>tbody>tr>th {
	text-align: center;
}

.tr-break > td {
	background-color: rgba(0, 161, 255, 0.42);
}

.table-spare {
	box-shadow: 0px 0px 20px rgba(0, 110, 255, 0.94);
}

/* tooltip */
.table-spare + .tooltip > .tooltip-inner {
	background-color: #006eff;
	color: #FFFFFF;
	/*border: 1px solid #000000;*/
	padding: 15px;
	font-size: 20px;
	box-shadow: 0px 0px 20px #006eff;
}

.table-spare + .tooltip > .tooltip-arrow {
	border-right: 5px solid cornflowerblue;
}

@media (max-width:991px){
	.carousel-text {
		font-size: small;
	}

	.carousel-text-h {
		font-size: medium;
	}

	.carousel-button {
		background-color: transparent;
		border-color: transparent;
	}}

@media (min-width:768px){.wraper-content{width:750px}}
@media (min-width:992px){.wraper-content{width:970px}  }
@media (min-width:1200px){.wraper-content{width:1170px}}

@media (min-width:992px) {
	.btn-text{
		height: 285px;
	}
}

