{block content}

    <div class="page-header"><h1>Registrace na BrNOC<sup>2</sup> 2016</h1></div>


	<div class="alert alert-danger text-center"><strong>Přihlašování ukončeno</strong></div>

    {*{control registerUserForm}*}


