{block content}

	<div class="page-header" id="recent"><h1>Info ke konání</h1></div>

	<p class="lead"><strong>Harmonogram:</strong> <a href="{$basePath}/assets/doc/Harmonogram_BrNOC%5E2.pdf">PDF</a></p>
	<p class="lead"><strong>Kde:</strong> Na <a href="http://mapy.cz/zakladni?x=16.6107096&y=49.2021042&z=18&source=firm&id=360848">Gymnáziu tř. Kpt. Jaroše v Brně</a>, potažmo v jeho blízkém okolí</p>
	<p class="lead"><strong>Kdy:</strong> 2.–4. 12. 2016</p>
	<p class="lead"><strong>Cena:</strong> 50 Kč za každou noc (dostatek jídla a pítí na celou noc a ráno)</p>
	<p class="lead"><strong>Pro koho:</strong> Pro všechny milovníky nočních hodin strávených u plátna či před plátnem z řad středoškoláků</p>
	<div class="lead"><strong>Na co se můžete těšit:</strong> <br /> #přednášky #Brno #Krno #bagety #lidi #víc_lidí #dort #přednášky #spaní_ve_škole #ovoce #sociovědní_témata
		#nesociovědní_témata #diskuze #přednášky #mystery_room #tričko? #odznáčky #více_orgů #jaroška #kultura #snídaně #nofilter #výhled_na_BRNO #přednášky #a_ještě_víc #přednášek</div>
	<p class="lead"><strong>Bonus:</strong> Proplacení cesty pro mimobrněnské přednášející</p>
	<p class="lead"><strong>Tričko:</strong> Bude možnost si koupit originální BrNOC tričko. Na designu se zatím pracuje, více informací již brzy.</p>
	<p class="lead"><strong>Mystery room:</strong> Nevíš, co přednášet? Nevadí! V Mystery room si vylosuješ náhodné téma, které vymyslel jiný účastník</p>
	<p class="lead"><strong>Dvě noci:</strong> <br> Není problém přijít jen na jednu noc. V sobotu můžete zůstat ve škole, prozkoumat město a odpoledne
		před další nocí bude <strong>meziprogram</strong> na způsob šifrovačky.</p>

	<h2>Už ses rozhodl? <a n:href="RegistrationUser:">Pojď do toho!</a></h2>

	<hr class="featurette-divider">
