{block content}

	<div class="page-header" id="recent"><h1>BrNOC tričko</h1></div>

	<p class="lead">Originální tričko si může koupit kdokoliv a v libovolném množství*. Vydávat se budou primárně na Jarošce během BrNOCi<sup>2</sup>,
		ale v případě neúčasti je budeme ve škole mít i dva týdny po akci do 16. 12. 2016.
	</p><br>
	<p class="lead center"><strong>Grafické návrhy:</strong></p>

	<div class="row">
		<div class="col-sm-12 col-md-6">
			<div class="text-center img-thumbnail">
				Prvotní návrh
				<img class="img-rounded img-responsive" src="{$basePath}/assets/img/shirts/painted.jpg" alt="Stínové provedení">
			</div>
		</div>

		<div class="col-sm-12 col-md-6">
			<div class="text-center img-thumbnail">
				Finální provedení
				<img class="img-rounded img-responsive" src="{$basePath}/assets/img/shirts/final.png" alt="Obrázkové provedení">
			</div>
		</div>
	</div><br>

	<p class="lead"><strong>Cena:</strong> 150 Kč</p>
	<p class="lead"><strong>Akce:</strong> Pokud si koupíš tričko a přijdeš na obě noci, máš druhou jen za 20 Kč</p>
	<p class="lead"><strong>Jak objednat:</strong> Vyplň <a href="https://goo.gl/forms/VaBQKdA13IDIUCPt2">tento formulář</a><br>
		Peníze se jménem, příjmením a emailem pošlete na účet 266743477/0300, nebo rovnou ministrovi financí (Petr Zelina). Objednávka je platná až po zaplacení,
		uzavírka je <strong>21. 11. 2016 v 12:00</strong>.
		</p>

	<br>
	<p class="lead center"><strong>Dvě varianty:</strong></p>
	<p class="">Logo bude na pánských i dámských tričkách stejné ‒ jedná se jen o ukázku, jak by mohla jednotlivá loga na tričkách vypadat.</p>

	<div class="row">
		<div class="col-sm-12 col-md-6">
			<div class="text-center img-thumbnail">
				Dámské
				{*<img class="img-responsive" src="{$basePath}/assets/img/shirts/ladies.jpg" alt="Dámské">*}
				<img class="img-responsive" src="{$basePath}/assets/img/shirts/ladies.jpg" alt="Dámské">
			</div>
		</div>

		<div class="col-sm-12 col-md-6">
			<div class="text-center img-thumbnail">
				Pánské
				{*<img class="img-responsive" src="{$basePath}/assets/img/shirts/men.jpg" alt="Pánské">*}
				<img class="img-responsive" src="{$basePath}/assets/img/shirts/painted_shirt.png" alt="Pánské">
			</div>
		</div>
	</div><br>

	<p class="lead center"><strong>Rozměry:</strong></p>

	<div class="row">
		<div class="col-sm-12 col-md-6">
			<table class="table table-bordered table-schedule table-shirts text-center">
				<tbody>
					<tr>
						<th>Dámské</th>
						<th>S</th>
						<th>M</th>
						<th>L</th>
						<th>XL</th>
						<th>XXL</th>
					</tr>
					<tr>
						<td>Délka</td><td>65</td><td>67</td><td>69</td><td>72</td><td>73</td>
					</tr>
					<tr>
						<td>Šířka</td><td>44</td><td>49</td><td>54</td><td>60</td><td>65</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="col-sm-12 col-md-6">
			<table class="table table-bordered table-schedule table-shirts text-center">
				<tbody>
				<tr>
					<th>Pánské</th>
					<th>S</th>
					<th>M</th>
					<th>L</th>
					<th>XL</th>
					<th>XXL</th>
				</tr>
				<tr>
					<td>Délka</td><td>72</td><td>74</td><td>77</td><td>79</td><td>82</td>
				</tr>
				<tr>
					<td>Šířka</td><td>48</td><td>53</td><td>58</td><td>63</td><td>69</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div><br>

	<div class="lead"><strong>Co je to za tričko:</strong> Značka Gildan, 100% bavlna, gramáž 185 g/m<sup>2</sup>, předeprané</div>
	<div class="lead"><strong>Jak ho potiskneme:</strong> Z přední strany sítotiskem</div>
	<div class="lead"><strong>Poznámka:</strong> Pokud se nenajde 50 zájemců o BrNOC tričko, kupovat je nebudeme
		a vrátime ti peníze</div>

	<h2>Už ses rozhodl? <a class="strong" href="https://goo.gl/forms/VaBQKdA13IDIUCPt2">Pojď do toho!</a></h2>

	<hr class="featurette-divider">

	<div>*dodavatel v současnosti má pouze 27 019 pánských a 4 876 dámských triček</div>
