{block content}

<div class="page-header" id="recent"><h1>Workshopy</h1></div>

<p class="lead">Letos jsme pro tebe připravili hned dva workshopy / prezentace projektů. Z pátku na sobotu budou po chodbách dovádet roboti a jiná technika od
	<strong><a href="http://robotikabrno.cz/robotarna">Robotárny</a></strong> včetně limitovaného workshopu, kde si zkusíš programování mikrokontrolerů, či Arduin. Ze soboty na neděli se jedna z učeben
	naplní hudbnou z projektu <strong><a href="http://sinesquare.com/tag/brnoc/live">[~] Sinesquare</a></strong>.
</p><br>

<div class="lead" id="robo"><h1>Robotárna</h1></div>

<p class="lead">Pojď si vyzkoušet programovat Arduino aneb základy mikrokontrolérů a domácí automatizace</p>

<p class="lead">V rámci dvouhodinového workshopu tě seznámíme s programováním
	mikrokontrolérů na platformě Arduino. Projdeme si základy ve stylu
	rozblikáni LEDky, obsluhu tlačítek, měření napětí na potenciometru, a
	když všechno zvládneme, můžeme vyzkoušet práci s teploměrem DHT11.
	Workshop proběhne ve dvou termínech. Každý termín je určen pro 14 lidí
	a bude se pracovat ve skupinách po dvou.</p>

<div class="row">
	<div class="col-sm-12 col-md-6">
		<div class="text-center img-thumbnail">
			<img class="img-rounded img-responsive" src="{$basePath}/assets/img/workshop/procesor.jpg" alt="Obrázkové provedení">
		</div>
	</div>

	<div class="col-sm-12 col-md-6">
		<div class="text-center img-thumbnail">
			<img class="img-rounded img-responsive" src="{$basePath}/assets/img/workshop/robot.jpg" alt="Obrázkové provedení">
		</div>
	</div>
</div><br>

<p class="lead">Kromě toho nebudou v pátek chybět rozličné technické hračky, které budou do půlnoci volně k vyzkoušení na chodbě před přednáškovými místnostmi.</p>

<p class="lead">Foto z loňského roku:</p>

<div class="row">
	<div class="col-sm-12 col-md-6">
		<div class="text-center img-thumbnail">
			<img class="img-rounded img-responsive" src="{$basePath}/assets/img/workshop/roboCorridor.png" alt="Obrázkové provedení">
		</div>
	</div>

	<div class="col-sm-12 col-md-6">
		<div class="text-center img-thumbnail">
			<img class="img-rounded img-responsive" src="{$basePath}/assets/img/workshop/VR.png" alt="Obrázkové provedení">
		</div>
	</div>
</div><br>

<p class="lead">Více informací o činnosti Robotiky Brno naleznete na jejich <a href="http://robotikabrno.cz/robotarna">webu</a>.</p><br>

<div class="lead" id="sin"><h1>[~] Sinesquare</h1></div>

<p class="lead">Instagram? YouTube? InstaTube? Yougram? … Sinesquare!</p>

<p class="lead">Přijď se po přednáškách trochu pobavit!
	Sinesquare na BrNOC chystá party, kde Ty rozhoduješ, co budeme hrát.

	Playlist ovlivníš v naší webové aplikaci <a href="https://sinesquare.com">Sinesquare.com</a></p>
	<ol class="lead">
		<li>Přihlaš se přes Facebook</li>
		<li>Vyhledej song, který chceš slyšet na BrNOCi</li>
		<li>Na stránce songu v pravé části přidej tag BrNOC</li>
	</ol>

<p class="lead">Playlist na afterparty můžeš v reálném čase sledovat na stránce tagu <a href="https://sinesquare.com/tag/brnoc"><strong>#BRNOC</strong></a></p>


<p class="lead">Zní ti lákavě klubová atmosféra, dobrá hudba, kamarádi; jsi zvědavý co ještě dokážeme? Stav se na BrNOCi
	na náš Workshop a nech se unýst vybranýma vibama. [~] </p>

<p class="lead">Let’s dance like nobody’s watching. Let’s sing like no one’s listening.	LET’S BURN THIS PLACE DOWN.</p>

<div class="row">
	<div class="col-sm-12 col-md-6">
		<div class="text-center img-thumbnail">
			<img class="img-rounded img-responsive" src="{$basePath}/assets/img/workshop/sin.png" alt="Obrázkové provedení">
		</div>
	</div>

	<div class="col-sm-12 col-md-6">
		<div class="text-center img-thumbnail">
			<img class="img-rounded img-responsive" src="{$basePath}/assets/img/workshop/tag.png" alt="Obrázkové provedení">
		</div>
	</div>
</div><br>

<p class="lead">Neváhej a rozhodni o hudbě na BrNOCi právě nyní na <a href="http://sinesquare.com/tag/brnoc/live">Sinesquare.com</a>.</p><br>


<hr class="featurette-divider">

