/* base grid */
main#attendance{
  display: grid;
  grid-template-columns: auto 20vw;
  grid-template-rows: 100%; }

.attendanceSectionHead {
  grid-column: 1/2;
  grid-row: 1/2;
  background-color: black; }

 .tableWrapper {
  grid-column: 1/2;
  grid-row: 2/3;
  overflow-y: scroll; }

.sidebar {
  grid-column: 2/3;
  grid-row: 1/3;
  background-color: #222;
  /*! margin: -15px -15px -15px 15px; */
  padding: 15px; }

/* table */
 #toolbar i {
  margin: 5px;
  cursor: pointer; }

 #toolbar {
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.1); }

 #statusBar {
  padding: 5px; }

 .green {
  background-color: rgba(0, 255, 0, 0.3); }

 .red {
  background-color: rgba(255, 0, 0, 0.3); }

.inv:before {
  display: none; }

 #table {
  width: 100%; }

 td {
  padding: 8px; }

 thead {
  font-weight: bold;
  position: sticky;
  top: 0px;
  background-color: black; }

 thead td {
  border-top: 2px solid white;
  border-bottom: 1px solid white; }

 tbody tr:nth-child(2n) {
  background-color: #111; }

 #serchBar {
  margin: 10px 0px; }

#cover {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  filter: blur(4px);
  z-index: 200;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0px !important; }

/* user detail */
#userDetail {
  width: calc(50vw - 80px);
  height: calc(80vh - 80px);
  position: absolute;
  z-index: 300;
  background-color: black;
  top: 10%;
  left: 25%;
  overflow-y: scroll;
  padding: 40px; }

#userDetail .close {
  font-size: 40px;
  float: right;
  color: red;
  cursor: pointer; }

#userDetail h2 {
  margin-bottom: 5px; }

#userDetail .icons .fas {
  font-size: 20px;
  margin: 5px; }

.yes {
  background-color: green; }

.no {
  background-color: #5f0000; }

.off {
  background-color: #333; }

.inv {
  display: none; }

.age1 {
  background-color: #4f006c; }

.age2 {
  background-color: #004487; }

 tbody tr:hover td {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 7px 8px; }

 tbody tr:hover td:first-child {
  border-left: 1px solid white;
  padding-left: 7px; }

 tbody tr:hover td:last-child {
  border-right: 1px solid white;
  padding-right: 7px; }

 td {
  cursor: pointer; }

/* user detail */
#userDetail .icon {
  width: 80px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  margin: 5px;
  display: inline-block;
  cursor: pointer; }

#userDetail h3 {
  margin: 25px 0px 15px; }

#userDetailAttended, #userDetailPay, .consent, #userDetailDisc {
  width: calc(100% - 40px);
  padding: 20px;
  text-align: center;
  margin: 5px;
  cursor: pointer; }

.yes .attended {
  display: none; }

#ordersTable {
  width: 100%;
  margin: 5px;
  cursor: pointer; }

#ordersTable td {
  padding: 8px;
  text-align: center; }

.over {
  background-color: #bf7c00; }

.disc {
  background-color: #403; }

#pay {
  font-weight: bold; }

#userDetailPayInputWrapper {
  width: 100%;
  margin: 5px;
  display: none; }

#userDetailPayInputWrapper td {
  text-align: center; }

#userDetailPayInputWrapper td:first-child {
  padding: 5px 10px 0px 0px; }

#userDetailPayInput {
  max-width: unset; }

#userDetailPayButton {
  cursor: pointer;
  padding: 8px 0px;
  background-color: #333; }

.tableDisplay {
  display: table !important; }

.consent {
  display: none; }

.plus18 .plus18inner {
  display: block; }

.consF .consFinner {
  display: block; }

.consT .consTinner {
  display: block; }

#userDetailCommentWrapper {
  margin-bottom: 40px; }

#userDetailComment {
  width: calc(100% - 40px);
  padding: 20px;
  margin: 5px;
  cursor: pointer; }

#userDetailCommentWrapper .comment {
  background-color: #333; }

.active #userDetailComment {
  background-color: white;
  color: black;
  padding: 10px;
  width: calc(100% - 20px); }

#userDetailSaveCommentButton {
  width: 100%;
  padding: 5px 0px;
  text-align: center;
  background-color: #333;
  margin: 5px;
  display: none; }

.active #userDetailSaveCommentButton {
  display: block; }

#userDetailDiscWrapper .inner {
  display: none; }

.active .inner {
  display: grid !important;
  grid-template-columns: auto 25%; }

.userDetailDiscButton {
  padding: 10px;
  text-align: center;
  background-color: #333;
  margin: 5px -5px 0px 10px;
  cursor: pointer; }

/* sidebar*/
.sidebar {
  display: grid;
  grid-template-rows: auto auto auto 25%; }

.controls {
  display: block; }

#log {
  overflow-y: scroll; }

.filters .filter {
  padding: 10px;
  background-color: #444;
  border-radius: 10px;
  display: inline-block;
  margin: 5px; }

.filters .fas {
  margin: 0px 0px 0px 5px;
  cursor: pointer; }

.message .time {
  margin-right: 10px;
  font-weight: 700; }

.message {
  padding: 2px 4px;
  margin: 2px 0px; }

.success {
  background-color: #336300; }

.error {
  background-color: #800; }

.dataSet {
  background-color: #060; }

.payment {
  background-color: #004f95; }

.newFilter .inputs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }

.newFilter input {
  background-color: unset; }

/* email */
#email {
  position: absolute;
  z-index: 200;
  height: calc(80vh - 80px);
  width: calc(60vw - 80px);
  top: 10vh;
  left: 20vw;
  background-color: #000;
  padding: 40px;
  display: none; }



.placeholder{
  width:100%;
  height: 100%;
  background-color: red;
}

.left{
  display:grid;
  grid-template-rows: auto 1fr;
}

.attendanceSectionHead h1{
  margin-left:1em;
}

#serchBar{
  margin:0px;
  background-color: #FFF0;
  border:none;
  color:white;
  border-bottom:1px solid white;
}

.btn{
  padding:5px;
  border: 2px solid white;
  border-radius: 5px;
  margin:10px 0px;
  text-align: center;
}