body{
    font-family: sans-serif;
}

.fullscreen{
  width: 100%;
  z-index: 80;
  border-radius: 0px;
  margin: 0;
  padding: 0;
}

.fullscreen a {
    border: none;
}

.fullscreen a:hover {
    border: none;
}

/* [65*i + (1*(i-1))-2 for i in range(1, 7)] */
.len1 {
    height: 63px;
}
.len2 {
    height: 129px;
}

.len3 {
    height: 195px;
}

.len4 {
    height: 261px;
}

.len5 {
    height: 327px;
}

.len6 {
    height: 393px;
}

.lecture{
    width: 190px;

    background-color: #29e;
    color: white;
    padding: 1px 5px;
    text-align: center;
    position:relative;

    font-family: sans-serif;
    float: left;
}

.lectureStore .lecture{
    margin: 2px;
}

#timeTable .lecture {
    position: absolute;
    z-index: 100;
}

.lecture h5{
    margin-top: 8px;
    margin-bottom: 5px;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.lecture h6{
    margin-top: 5px;
    margin-bottom: 5px;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.rule{
    position:absolute;
    bottom:0;
    left: 0;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100px;
    padding: 5px;
    font-size: 12px;
}

.duration{
    position:absolute;
    bottom:0;
    right:0;

    padding: 5px;
    font-size: 12px;
}

.stats{
    position:absolute;
    bottom:0;
    right: 50px;

    padding: 5px;
    font-size: 12px;
}

.floatLeft {
    float: left;
}

.col{
    background: url("img/faviconT-192x192.png") no-repeat center;
    background-size: contain;
    /*background: repeating-linear-gradient(*/
            /*-55deg,*/
            /*#222,*/
            /*#222 10px,*/
            /*#333 10px,*/
            /*#333 20px*/
    /*);*/
}

.split {
    background-color: gray;
}

.split td{
    height:20px !important;
}

.ttDiv table{
    border-collapse: collapse;
    border-spacing: initial;
    table-layout: fixed;
}


#stuff {
    position: absolute;
    left: 30px;
    top: 49px;
    height: calc(100% - 50px);
    width: calc(100% - 30px);
    overflow: auto;
    white-space: nowrap;
    vertical-align: top;
}

div.ttDiv {
    float: right;

    padding-right: 10px;
    padding-left: 1px;
    border-right: 1px solid #333;
}

.timeTable td{
    width: 200px;
    height: 65px;
    margin: 0;
    padding: 0;
    border: 1px solid gray;
    vertical-align: top;
    overflow: visible;
    position: relative;
}

div.lectureStore{
    width: 630px;
    float: right;

    padding-left: 10px;
    border-left: 1px solid #333;
}

.scrolldiv{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    top: 0;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
}
.gu-hide {
    display: none !important;
}
.gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}
.gu-transit {
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
    z-index: -100 !important;
}

.sidebar {
    height: calc(100% - 50px);
    width: 200px;
    position: fixed;
    z-index: 110;
    top: 50px;
    left: 0px;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar-button {
    font-size:30px;
    cursor:pointer;
    z-index: 200
}

.divider {
    margin: 10px 5px;

    background-color: #818181;
    height: 3px;
    border: 0
}

.sbText {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    white-space: nowrap;
}

.sidebar a:hover {
    color: #f1f1f1;
}

a.loadListTitle {
    padding-bottom: 0;
}

.loadList {
    text-decoration: none;
    font-size: 12px;
    color: #818181;
}

ul.loadList {
    list-style-type:none;
    padding-left: 48px;
}

.loadList div {
    display: block;
    width: 100px;
    cursor: pointer;
    transition: 0.3s;
}

.loadList div:hover {
    color: #f1f1f1;
}

span.loadList-name {

}

span.loadList-score {
    float: right;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#scoreDiv {
    display: table;
}

#progressLine {
    margin: -8px 5px 5px 32px;

    display: table-caption;
    caption-side: bottom;

    background-color: #818181;
    border: 0;
    height: 1px;

    transition: 0.4s;

    width: 0;
}

.inProgress{
    color: #f1f1f1;
    text-shadow: 0 0 25px white
}

#ruleStatus {
    padding: 8px 8px 8px 16px;
    text-decoration: none;
    font-size: 14px;
    color: #818181;
    /*display: block;*/
    /*white-space: nowrap;*/
}

.jsgif{
    width: 200px;
    position: absolute;
    bottom: 60px;
    left: 0px;
}
