.tech {
    background-color: #96DEE5;
    color: black;
}

.inf {
    background-color: #68e597;
    color: black;
}

.sci {
    background-color: #b6f856;
    color: black;
}

.soc {
    background-color: #ffb553;
    color: black;
}

.other {
    background-color: #ff65e0;
    color: black;
}