@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i");

body, html{
  margin:0px;
  padding:0px;
  background-color: black;
  color:white;
  font-family:Roboto;
  height:100vh;
  width:100vw;
}

body{
  display:grid;
  grid-template-rows: 5vh 95vh;

}


/*Misc*/
.notA{
  color:white;
  text-decoration: none;
}

.notA:hover{
  color:#80de8e !important;
}

a{
  color:white;
  cursor: pointer;
}

a:hover{
  color:#80de8e
}

::-webkit-scrollbar {
  width: 10px; }

::-webkit-scrollbar-track {
  background-color: black;
  border-radius: 5px; }

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 5px; }

::-webkit-scrollbar-thumb:hover {
  background-color: #80de8e;
  cursor:pointer;
}


/*Menu*/

@media(min-width:1000px){
   header>a{
    display:inline-block;
    color:white;
    text-decoration: none;
    text-transform: uppercase;
    height:100%;
    width:100%;
    line-height: 5vh;
    text-align: center;
  }

  header>a:hover, header>a.active{
    color:#80de8e;
    background-color: #111;
    border-bottom:2px solid #80de8e;
    height:calc(5vh - 2px);
  }

    header{
    display:grid;
    grid-template-columns: 10vw 10vw 10vw 10vw 10vw 45vw 5vw;
    border-bottom:2px solid white;
  }

  .menuOpenButton{
    display:none;
  }
  
  body{
    grid-template-rows: 5vh 95vh;
  }
  
}

@media(max-width:1000px){
  body{
    grid-template-rows: 30vh 70vh;
    
  }
  
   header{
    display:grid;
    grid-template-columns: 1fr;

    border-bottom:2px solid white;
    overflow: hidden;
  }
  
   header>a{
    color:white;
    text-decoration: none;
    text-transform: uppercase;
    height: 5vh;
    width:100%;
    line-height: 5vh;
    text-align: center;
     background-color: black;
  }

  header>a:hover, header>a.active{
    color:#80de8e;
    background-color: #111;
    border-bottom:2px solid #80de8e;
    height:calc(5vh - 2px);
}
  
  .back{
    height:0px;
  }
  
  .menuClosed{
    grid-template-rows: 5vh 95vh;
  }
  
  .menuClosed .menuItem{
    height:0px;
    border:none;
  }
  
}



/*Main*/
main#home{
  padding:10vh 10vw;
}

main.sidebarLayout{
  grid-template-columns: 80vw 20vw;
  grid-template-rows: 100%;
  display: grid;
}

.sidebar{
  background-color:#222;
}

.left{
  display: grid;
  height: 100%;
}

