main{
    display:grid;
    grid-template-rows:20% 80%;
    height:100%;
}

.body{
    display:grid;
    grid-template-columns:1fr auto 1fr;
    grid-template-rows:calc(100% - 2em);
    grid-gap: 1em;
    padding:1em;
}

.head{
    padding:1em;
}

.tableWrapper{
    max-height:100%;
    overflow-y:scroll;
    display: block;
    
}

.icon{
    font-size:5em;

}

.arrow{
    text-align:center;
    cursor:pointer;
}