main{
  grid-template-columns:1fr auto !important;
}

.left{
  display:grid;
  grid-template-rows: 20% 80%;
}

.sidebar>*{
  margin-top:1em;
}
.sidebar>*:first-child{
  margin-top:0em;
}

.head{
  padding-left: 2em;
}

.tableWrapper{
  overflow: scroll;
  margin-left:12px;
  height: 100%;
  position:relative;
}

.dropdown>*{
  margin:1em;
}

.info{
  display:grid;
  grid-template-columns:30% 70%
}

.info>*{
  padding:1em;
}

.poznamka{
  padding:1em;
}

.btn{
  padding:5px;
  min-width:5em;
  text-align:center;
  cursor:pointer;
  display:inline-block;
  margin:5px;
}

.btn:hover{
  font-weight:bold;
}

.controls{
  text-align:center;
}


/*sidbar*/
.chart{
  max-width:10em;
}

.chart svg{
  margin:.5em 0 ;
}


.sidebar{
  padding:1em;
}

.sidebar .settings .fa-envelope{
    font-size:3em;
    corlor:#444;
  }
.sidebar .settings .fa-envelope.active{color:red;}


/**/
.alert{
  color:red;
}

td:nth-child(7){
  max-width:5em;
}
