.roleButton{
  padding:8px;
  background-color: #333;
  color:white;
  border-radius: 5px;
  display:inline-block;
  margin:5px;
  min-width:100px;
  text-align: center;
}

.active{
  background-color: #82B;
}

.roleButton:hover{
  font-weight: bold;
}


main{
  grid-template-columns:1fr auto !important;
}


.sidebar>*{
  margin-top:1em;
}

.sidebar>*:first-child{
  margin-top:0em;
}


.title{
  padding-left:2em;
}

.tableWrapper{
  overflow: scroll;
  margin: auto;
  width: 100%;
  height: 100%;
}

.chart{
  padding:1em;
}

.chart>*{
  margin-bottom: 1em;
}

.left{
  grid-template-rows: 20% 80%;
}

#curve_chart.active{
  position:absolute;
  top:10vh;
  left:10vw;
  width:80vw !important;
  height:80vh;
  z-index:2000;
}

#cover{
  position:absolute;
  height:100vh;
  width:100vw;
  background-color: #000A;
  z-index:1000;
  display:none;
}

#cover.active{
  display:block;
}


.toggle{
  background-color:gray;
  height:1em;
  width:3em;
  border-radius:1em;
  padding:.2em;
}

.toggle .ball{
  background-color:black;
  width:1em;
  height:1em;
  border-radius:1em;
  transition:1s;
  
  
}

.toggle.active .ball{
  left:unset;
  transition:1s;
  margin-left:2em;
}

.toggleWrapper *{
  display:inline-block;

}

.toggleWrapper{
  margin-top:.5em;
}