{block content}

	<div class="page-header"><h1>Kontakty</h1></div>

	<p class="lead">Veškeré problémy, návrhy a připomínky směřujte na <a href="mailto:pus&#64brnoc.cz" data-toggle="tooltip" data-placement="right" title="Lepší emailovou adresu jsme vymyslet neuměli">pus@brnoc.cz</a>.</p><br />
	<p class="lead">V případě urgentních problémů volejte na 774 533 316, nebo 733 434 246.</p>