{block content}

<div class="page-header"><h1>Kontakty s poníky</h1></div>

<p class="lead">Veškeré problémy, návrhy a připomínky směřujte na <a href="mailto:pus&#64brnoc.cz" data-toggle="tooltip" data-placement="right" title="Lepší emailovou adresu jsme vymyslet neuměli">pus@brnoc.cz</a>.</p><br />
<p class="lead">V případě urgentních problémů volejte na 774 533 316.</p>

{syntax double}
<script type="text/javascript" src="https://panzi.github.io/Browser-Ponies/basecfg.js" id="browser-ponies-config"></script>
<script type="text/javascript" src="https://panzi.github.io/Browser-Ponies/browserponies.js" id="browser-ponies-script"></script>
<script type="text/javascript">/* <![CDATA[ */ (function (cfg) {BrowserPonies.setBaseUrl(cfg.baseurl);BrowserPonies.loadConfig(BrowserPoniesBaseConfig);BrowserPonies.loadConfig(cfg);})
	({"baseurl":"https://panzi.github.io/Browser-Ponies/","fadeDuration":500,"volume":1,"fps":25,"speed":3,"audioEnabled":false,"showFps":false,"showLoadProgress":true,"speakProbability":0.1,"spawn":
	{"applejack":1,"fluttershy":1,"pinkie pie":1,"rainbow dash":1,"rarity":1,"twilight sparkle":1},"autostart":true}); /* ]]> */</script>

{{/syntax double}}