{block content}


<div class="page-header"><h1>Přihlášené neschválené přednášky</h1></div>

{*<div class="col-md-6">*}
<div n:snippet="mystery" class="row">
	<div class="col-md-6">
		<table class="table table-striped">
			<tr><th colspan="2">Mystery témata</th></tr>
			<div n:foreach="$mysteryTopic as $topic">
				<tr><td class="col-sm-1">{$iterator->counter}</td>
					<td class="col-sm-11"><a n:href="approve! $topic->id" class="ajax">{$topic->mystery_topic}</a></td>
				</tr>
			</div>
		</table>
	</div>
	<div class="col-md-6">
		<h3>Počet Jarošáků: {$ourSchool}</h3>
		<h3>Počet přihlášených účastníků: {count($mysteryTopic)}</h3>
		<h3>Počet dobrovolníků do mystery room: {$mysteryVolunteer}</h3>
		<h3>Počet účastníků z N-trophy: {count($usersNtrophy)}</h3>
		<h3>Počet přednášejících: {$talkers}</h3>
		<h3>Počet lidí pá/so: {$d1}</h3>
		<h3>Počet lidí so/ne: {$d2}</h3>
		<h3>Počet lidí pá‒ne: {$dBoth}</h3>
		<hr>
		<h3>Počet přihlášených přednášek: {count($talks)}</h3>
		<h3>Celková doba přihlášených přednášek: {$talksLength} minut</h3>
		<h3>Délky přihlášených přednášek: <br />{foreach $talks as $talk}{$talk->lenght}, {/foreach}</h3>
		<hr>
		<h3>Počet schválených přednášek: {count($talksApproved)}</h3>
		<h3>Celková doba schválených přednášek: {$talksLengthApproved} minut</h3>
		<h3>Délky schválených přednášek: <br />{foreach $talksApproved as $talk}{$talk->lenght}, {/foreach}</h3>

		<br />

		<table class="table table-striped">
			<tr><th>Chtěnost přednášek</th><th>{$numberOfVoters}</th></tr>
			<tr n:foreach="$talksVotes as $talk"><td>{$talk->name}</td><td>{$talk->votes}</td></tr>
		</table>

		<table class="table table-striped">
			<tr><th>Schválená mystery témata</th><th>{count($mysteryApproved)}</th></tr>
			<tr n:foreach="$mysteryApproved as $topic"><td>{$iterator->counter}</td><td>{$topic->name}</td></tr>
		</table>

		<table class="table table-striped">
			<tr><th>Emaily přednášejících</th></tr>
			<tr n:foreach="$talksVotes as $talk"><td>{$talk->user->email}</td></tr>
		</table>
	</div>

</div>
