{block content}

	<div id="right-angle" class="page-header"><h1>Pravoúhlý sněm</h1></div>


	<div class="row">
		<div class="col-md-4 col-sm-6 text-center rightAngle">
			<a href="http://tripmap.cz/">
				<img class="img-circle" src="{$basePath}/assets/img/pus/ron.JPG" alt="Ronald Luc" width="140" height="140">
				<h2>Ronald Luc</h2>
				<h3>Premiér</br><span class="text-muted">hnací motor</span> </h3>
				<br>
			</a>
		</div>

		<div class="col-md-4 col-sm-6 text-center rightAngle">
			<img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Ivana Krumlová" width="140" height="140">
			<h2>Ivana Krumlová</h2>
			<h3>Ministryně korektury</br><span class="text-muted">hledač šotků</span> </h3>
			<br>
		</div>

		<div class="col-md-4 col-sm-6 text-center rightAngle">
			<img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Minh Tran Anh" width="140" height="140">
			<h2>Minh Tran Anh</h2>
			<h3>Ministryně grafiky</br><span class="text-muted">měnič barev</span> </h3>
			<br>
		</div>


		<div class="col-md-4 col-sm-6 text-center rightAngle">
			<img class="img-circle" src="{$basePath}/assets/img/pus/verca.JPG" alt="Veronika Valouchová" width="140" height="140">
			<h2>Veronika Valouchová</h2>
			<h3>Ministryně textu</br><span class="text-muted">násobič obsahu</span> </h3>
			<br>
		</div>

		<div class="col-md-4 col-sm-6 text-center rightAngle">
			<img class="img-circle" src="{$basePath}/assets/img/pus/petr.JPG" alt="Petr Zelina" width="140" height="140">
			<a href="mailto:pe.zelina&#64seznam.cz"><h2>Petr Zelina</h2></a>
			<h3>Ministr financí</br><span class="text-muted">který vám to spočítá</span> </h3>
			<br>
		</div>
	</div>

	<div id="right-angle" class="page-header"><h1>Pravoúhlý sněm<sup>2</sup></h1></div>


	<div class="row">
		<div class="col-md-4 col-sm-6 text-center rightAngle">
			<img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Ondřej Buček" width="140" height="140">
			<h2>Ondřej Buček</h2>
			<h3></h3>
			<br>
		</div>

		<div class="col-md-4 col-sm-6 text-center rightAngle">
			<img class="img-circle" src="{$basePath}/assets/img/pus/honza.JPG" alt="Jan Česnek" width="140" height="140">
			<h2>Jan Česnek</h2>
			<h3></h3>
			<br>
		</div>

		<div class="col-md-4 col-sm-6 text-center rightAngle">
			<img class="img-circle" src="{$basePath}/assets/img/pus/aneta.JPG" alt="Aneta Fajstová" width="140" height="140">
			<h2>Aneta Fajstová</h2>
			<h3></h3>
			<br>
		</div>

		<div class="col-md-4 col-sm-6 text-center rightAngle">
			<img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Vojtěch Horáček" width="140" height="140">
			<h2>Vojtěch Horáček</h2>
			<h3></h3>
			<br>
		</div>

		<div class="col-md-4 col-sm-6 text-center rightAngle">
			<img class="img-circle" src="{$basePath}/assets/img/pus/ola.JPG" alt="Olga Krumlová" width="140" height="140">
			<h2>Olga Krumlová</h2>
			<h3></h3>
			<br>
		</div>

		<div class="col-md-4 col-sm-6 text-center rightAngle">
			<img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Martin Kurečka" width="140" height="140">
			<h2>Martin Kurečka</h2>
			<h3></h3>
			<br>
		</div>
	</div>

	<div id="right-angle" class="page-header"><h1>„Ruce a nohy“</h1></div>


	<div class="row">
		<div class="col-md-4 col-sm-6 text-center rightAngle">
			<img class="img-circle" src="{$basePath}/assets/img/pus/jirka.JPG" alt="Ondřej Buček" width="140" height="140">
			<h2>Jiří Povolný</h2>
			<h3></h3>
			<br>
		</div>

		<div class="col-md-4 col-sm-6 text-center rightAngle">
			<img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Jan Česnek" width="140" height="140">
			<h2>Štěpán Balážik</h2>
			<h3></h3>
			<br>
		</div>
	</div>

	<div class="page-header"><h1>Na vzniku a realizaci se podílejí také</h1></div>

	<div class="row">
		<div class="col-md-4 col-sm-6 text-center">
			<a class="btn btn-default btn-text" href="http://www.jaroska.cz">
				<img class="img-circle" src="{$basePath}/assets/img/jaroska.jpg" alt="Jaroška" width="140" height="140">
				<h2>Jaroška</h2>
				<h3>Naše milovaná škola</h3>
			</a>
		</div>

		<div class="col-md-4 col-sm-6 text-center">
			<a class="btn btn-default btn-text" href="http://www.jcmm.cz">
				<img class="img-circle" src="{$basePath}/assets/img/logo_JCMM.png" alt="JCMM" width="140" height="140">
				<h2>JCMM</h2>
				<h3>Centrum, co tvoří v Brně rušno</h3>
			</a>
		</div>

		<div class="col-md-4 col-sm-6 text-center">
			<a class="btn btn-default btn-text" href="http://www.pnoc.cz/">
				<img class="img-circle" src="{$basePath}/assets/img/pnoc.png" alt="P-NOC" width="140" height="140">
				<h2>Přednášková noc</h2>
				<h3>Původní, oldschool</h3>
			</a>
		</div>


	</div>
