{block content}


<div class="page-header"><h1>Harmonogram</h1></div>


<table class="table table-bordered table-schedule text-center">
	<tr>
		<td>17:30</td>
		<td colspan="3"><strong>Otevření školy - příjezd účastníků</strong></td>
	</tr>
	<tr>
		<td>18:15</td>
		<td colspan="3"><strong>Zahájení BrNOCi</strong></td>
	</tr>
	<tr>
		<td>18:30</td>
		<td colspan="2" rowspan="4"><strong>ALKANY - no a co?!</strong><br>Mgr. Veronika „Kya“ Kyasová a<br>Mgr. Václav „PI“ Piskač</td>
		<td rowspan="2"><strong>Jazykové certifikace</strong><br>Tereza „tter“ Hladíková</td>
	</tr>
	<tr>
		<td>18:45</td>
	</tr>
	<tr>
		<td>19:00</td>
		<td rowspan="2"><strong>Knedlo-zelo-... tofu? aneb Veganství, vegetariánství a karnismus</strong><br>Kristýna „Týnít“ Kašíková</td>
	</tr>
	<tr>
		<td>19:15</td>
	</tr>
	<tr class="tr-break">
		<td>19:30</td>
		<td colspan="3">Přestávka</td>
	</tr>
	<tr>
		<td class="col-md-1">19:45</td>
		<td class="col-md-3" rowspan="3"><strong>Seznamovací hry a humor v matematice</strong><br>Vladimír „Vláďa“ Sedláček</td>
		<td class="col-md-3" rowspan="4"><strong>ALKANY - no a co?! - repríza</strong><br>Mgr. Veronika „Kya“ Kyasová a<br>Mgr. Václav „PI“ Piskač</td>
		<td class="col-md-3" rowspan="4"><strong>Jak se válčící Číňané,snažili nesnažit</strong><br>Dominik Krasula</td>
	</tr>
	<tr>
		<td>20:00</td>
	</tr>
	<tr>
		<td>20:15</td>
	</tr>
	<tr>
		<td>20:30</td>
		<td><strong>Robotika na střední škole v USA</strong><br>Antonín „Tony“ Vlček</td>
	</tr>
	<tr class="tr-break">
		<td>20:45</td>
		<td colspan="3">Přestávka</td>
	</tr>
	<tr>
		<td>21:00</td>
		<td rowspan="3"><strong>Crowdsourcing aneb jak zvládnout,nemožné pomocí davu</strong><br>Matěj Lieskovský</td>
		<td rowspan="3"><strong>Krása v uniformitě aneb,filozofie teorie kategorií</strong><br>Vladimír „Vláďa“ Sedláček</td>
		<td rowspan="2"><strong>Vývoj počítačové hry</strong><br>Vlastimil „Petržel“ Blažek</td>
	</tr>
	<tr>
		<td>21:15</td>
	</tr>
	<tr>
		<td>21:30</td>
		<td><strong>Lobotomie (dnes a) včera</strong><br>Markéta „Marky“ Doležalová</td>
	</tr>
	<tr>
		<td>21:45</td>
		<td colspan="3"><a href="http://tripmap.cz/"><strong>TripMap - aplikace na správu cest, výletů a dovolených</strong></a><br>Ronald Luc</td>
	</tr>
	<tr class="tr-break">
		<td>22:00</td>
		<td colspan="3" rowspan="2">Velká přestávka</td>
	</tr>
	<tr class="tr-break">
		<td>22:30</td>
	</tr>
	<tr>
		<td>22:45</td>
		<td rowspan="4"><strong>Gravitační vlny I. část</strong><br>Faktoriál „Jakub“ Dvořák a<br>Stanislav Tabbrovec</td>
		<td rowspan="4"><strong>Eliptické křivky,a motivace ke studiu,matematiky</strong><br>Vladimír „Vláďa“ Sedláček</td>
		<td rowspan="4"><strong>Mystery room I. část</td>
	</tr>
	<tr>
		<td>23:00</td>
	</tr>
	<tr>
		<td>23:15</td>
	</tr>
	<tr>
		<td>23:30</td>
	</tr>
	<tr class="tr-break">
		<td>23:45</td>
		<td colspan="3">Přestávka</td>
	</tr>
	<tr>
		<td>00:00</td>
		<td rowspan="2"><strong>Gravitační vlny II. část</strong><br>Faktoriál „Jakub“ Dvořák a</strong><br>Stanislav Tabbrovec</td>
		<td rowspan="3"><strong>Trendy ve vývoji aplikací</strong><br>Lukáš Vaněk</td>
		<td rowspan="4"><strong>Mystery room II. část</td>
	</tr>
	<tr>
		<td>00:15</td>
	</tr>
	<tr>
		<td>00:30</td>
		<td rowspan="2"><strong>Zvířátka a volební systémy</strong><br>Štěpán Balážik</td>
	</tr>
	<tr>
		<td>00:45</td>
		<td><strong>Netradiční logiky</strong><br>Matouš Trnka</td>
	</tr>
	<tr class="tr-break">
		<td>01:00</td>
		<td colspan="3">Přestávka</td>
	</tr>
	<tr>
		<td>01:15</td>
		<td rowspan="2"><strong>3D displej a další projekty pro Arduino</strong><br>Jiří „Papi“ Papoušek</td>
		<td rowspan="4"><strong>Dění v mracích z pohledu parašutisty bez padáku</strong><br>Bedřich „Béďa“ Said</td>
		<td rowspan="4"><strong>Mystery room IlI. část</td>
	</tr>
	<tr>
		<td>01:30</td>
	</tr>
	<tr>
		<td>01:45</td>
		<td rowspan="2"><strong>Excel bez programování</strong><br>David „DON'T DROP ANY TABLES“ Žáček</td>
	</tr>
	<tr>
		<td>02:00</td>
	</tr>
	<tr>
		<td>02:15</td>
		<td colspan="3"><strong>Neorganizovaný program</strong></td>
	</tr>
	<tr class="tr-break">
		<td>...</td>
		<td colspan="3">Spánek?</td>
	</tr>
	<tr>
		<td>09:00</td>
		<td colspan="3"><strong>Budíček</strong></td>
	</tr>
	<tr>
		<td>09:30</td>
		<td colspan="3"><strong>Zametání stop</strong></td>
	</tr>
	<tr>
		<td>10:30</td>
		<td colspan="3"><strong>Poslední opozdilci opouštějí školu</strong></td>
	</tr>
</table>

