{block content}


    <div class="page-header"><h1>Přihlášení</h1></div>

    <table class="table table-striped">
        <thread>
            <tr>
                <th>#</th>
                <th>Datum registrace</th>
                <th>Jméno</th>
                <th>Přezdívka</th>
                <th>Příjmení</th>
                <th>Škola</th>
                <th>Email</th>
				<th>Akce</th>
            </tr>
        </thread>

        <tbody>
            <div n:foreach="$users as $user" class="user">
                <tr {if $user->ntrophy}class="tr-warning"{/if}>
                    <td >{$iterator->counter}</td>
                    <td>{$user->created|date:'j. n. Y'}</td>
                    <td>{$user->name}</td>
                    <td>{$user->nick}</td>
                    <td>{$user->last_name}</td>
                    <td>{$user->school}</td>
                    <td>{$user->email}</td>
					<td><a n:href="delete! $user->id">Smazat</a></td>
                </tr>
            </div>
        </tbody>
    </table>