{block content}

<script>
	function ran_col(prom) { //function name
		var color = '#'; // hexadecimal starting symbol
		var letters = '0123456789ABCDEF'.split(''); //hexadecimal color letters

		//For loop that will create random hexadecimal value.
		for (var i = 0; i < 6; i++) {
			color += letters[Math.round(Math.random() * 15)];
		}

		document.getElementById(prom).style.color = color; // Setting the random color on your div element.
	}
</script>

{snippet list}
<div class="page-header"><h1>
		<a id="change" class="ajax" n:href="change! $iter, $aera"><i class="fa fa-cogs {if $iter > 9}fa-spin{/if}" aria-hidden="true"></i></a>
		Přihlášení účastníci : {count($users)}
		<span class="pull-right">
			<a id="previousEra" class="ajax" n:href="previousEra! $aera"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>

			{if $iter > 9}<span id="title">BrNOC<sup>∀</sup></span>{else}
				BrNOC<sup>{$aera}</sup>
			{/if}
			<a id="nextEra" class="ajax" n:href="nextEra! $aera"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
		</span>
	</h1></div>
{if $iter > 9}<script>ran_col('change'); ran_col('title')</script>{/if}

<div  class="row">
	<div n:foreach="$users as $user" class="col-xs-12 col-sm-6 col-md-4">
		<h3 id="{$user->id}" >{$user->name} {$user->last_name}</h3>
		{if $iter > 9}<script>ran_col({$user->id})</script>{/if}
	</div>
	{*{if $user->nick} „{$user->nick}“{/if}*}
</div>
{/snippet}
