{block content}

    <div class="page-header"><h1>Registrace přednášky na BrNOC 2016</h1></div>

	<div class="alert alert-danger text-center"><strong>Přihlašování přednášek ukončeno</strong></div>


{*<div class="alert alert-danger text-center"><strong>Před registrací přednášky je nutné se registrovat jako účastník</strong></div>*}

    {*{control registerTalkForm}*}

