{block content}

        <div class="page-header"><h1>Aktuality</h1></div>

		<table class="table">
			<tr><td>28. 11.</td><td>Generování harmonogramu podle vůle lidu. Do DB vlezl šotek a zkrátil všem přezdívky. Vše je zálohované a brzy to opravíme.</td></tr>
			<tr><td>25. 11.</td><td>Na 2. a 3. BrNOCi bude minimálně 31 přednášek. Představeny 2 workshopy.</td></tr>
			<tr><td>22. 11.</td><td>Trička přes všechny trable budou, v pátek je ale budeme brát ještě teplá z tiskárny.</td></tr>
			<tr><td>20. 11.</td><td>Přes 70 účastníků, 15 přednášek, boom v objednávání triček.</td></tr>
			<tr><td>13. 11.</td><td>Přes 50 účastníků, další přednášky, zveřejněna profesionální hostovaná přednáška a zmrizlina.</td></tr>
			<tr><td>1. 11.</td><td>Schváleny další  přednášky; publikována trička</td></tr>
			<tr><td>28. 10.</td><td>Dokončeny návrhy designu triček</td></tr>
			<tr><td>19. 10.</td><td>Upravena responzivita webu</td></tr>
			<tr><td>17. 10.</td><td>Shváleny první přednášky; rozšíření PúS</td></tr>
			<tr><td>10. 10.</td><td>Prvních několik zaregistrovaných přednášek; možnost přepínání mezi ročníky</td></tr>
			<tr><td>9. 10.</td><td>Vznikl nový <a href="{$basePath}/assets/doc/BrNOC2_letacek.pdf">propagační letáček</a>, pomožte nám s propagací a vyvěste ho na nástěnku</td></tr>
			<tr><td>9. 10.</td><td>Web byl aktualizován na další ročník</td></tr>
			<tr><td>28. 9.</td><td>Začalo se pracovat na přeměně webu pro další ročník</td></tr>
			<tr><td>25. 3.</td><td>Vytvoření <a n:href="RegisteredTalks:survey">ankety</a></td></tr>
			<tr><td>18. 3.</td><td>Den B</td></tr>
			<tr><td>15. 3.</td><td>Zveřejnění harmonogramu</td></tr>
			<tr><td>14. 3.</td><td>Na Jarošce s námi bude i N-trophy</td></tr>
			<tr><td>9. 3.</td><td>Ukončeno přihlašování přednášek, easter egg vylepšen</td></tr>
			<tr><td>8. 3.</td><td>Přidán další easter egg</td></tr>
			<tr><td>5. 3.</td><td>Stanovení deadline přihlašování přednášek na dopoledne 9. 3. a účastníků na ráno 16. 3.</td></tr>
			<tr><td>5. 3.</td><td>Zveřejněna <a n:href="RegisteredTalks:default#host">chemicko-fyzikální přednáška učitelského dua</a></td></tr>
			<tr><td>27. 2.</td><td>Schválena třetí vlna přednášek. Prohřešek vůči kvótám EU napraven</td></tr>
			<tr><td>20. 2.</td><td>Schválena druhá vlna přednášek. Zhoršil se prohřešek vůči kvótám EU</td></tr>
			<tr><td>16. 2.</td><td>Do systému se registroval <a href="https://xkcd.com/327/">Little Bobby Tables</a> a <a n:href="Contact:ponies">poníci</a></td></tr>
			<tr><td>14. 2.</td><td>Vznikl <a href="{$basePath}/assets/doc/BrNOC_letacek.pdf">propagační letáček</a>, můžete jej pomoci šířit vystavením na nástěnku</td></tr>
			<tr><td>13. 2.</td><td>Vláďa Sedláček slíbil přijet a přednášet přirozený počet přednášek</td></tr>
			<tr><td>10. 2.</td><td>První registrované přednášky</td></tr>
			<tr><td>6. 2.</td><td>První registrovaní účastníci</td></tr>
			<tr><td>5. 2.</td><td>Spuštění registrace</td></tr>
			<tr><td>1. 2.</td><td>Debuggování</td></tr>
			<tr><td>20. 1.</td><td>První vlastní grafika</td></tr>
			<tr><td>1. 1.</td><td>Spuštěna betaverze webu</td></tr>
			<tr><th>2016</th><th>Nový rok</th></tr>
			<tr><td>25. 12.</td><td>Počátek prací na webu</td></tr>
			<tr><td>Prosinec</td><td>První brainstorming</td></tr>
			<tr><td>20. 11.</td><td>První setkání s představiteli JCMM</td></tr>
			<tr><td>19. 11.</td><td>Akce schválena ředitelem školy</td></tr>
			<tr><td>Listopad</td><td>Tvoří se Pravoúhlý sněm</td></tr>
		</table>
